@import "../variables.scss";

.columns
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -1.25rem;
    padding-top: 1.5rem;

    &__item {
        padding: 2.5rem 1.25rem 0;
        text-align: left;
    }

    &__inner {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        padding: 1.25rem;
        height: 100%;

        .has-border {
            border: 1px solid $gray-400;
            border-radius: .625rem;
        }
    }

    &__pic {
        margin-bottom: 1.5rem;
        max-width: 100%;
    }

    &__t {
        font-size: .875rem;
        font-weight: 900;
        text-transform: uppercase;
    }

    &__descr {
        font-size: .75rem;
    }
}
