.block
{
	align-items: center;
	display: flex;
	font-family: Helvetica, sans-serif;
	padding: 3.75rem 0;

	.w-100, .row
	{
		width: 100%;
	}

	@include media-breakpoint-down(sm) {
		.container
		{
			padding: 0;
		}
	}

	@include media-breakpoint-up(xl) {
		padding: 6.25rem 0;
	}

	&--divider
	{
		position: relative;

		&::after,
		&::before
		{
			background-color: #d8d8d8;
			content: ' ';
			height: 1px;
			left: 3.75rem;
			position: absolute;
			right: 3.75rem;

			@include media-breakpoint-down(sm) {
				left: 1.25rem;
				right: 1.25rem;
			}

			@include media-breakpoint-up(xl) {
				left: 6.25rem;
				right: 6.25rem;
			}
		}

		&::after
		{
			bottom: 0;
		}

		&::before
		{
			top: -1px;
		}

        &-bottom
        {
            position: relative;

		    &::after
		    {
			    background-color: #d8d8d8;
			    content: ' ';
			    height: 1px;
			    left: 3.75rem;
			    position: absolute;
			    right: 3.75rem;

			    @include media-breakpoint-down(sm) {
				    left: 1.25rem;
				    right: 1.25rem;
			    }

			    @include media-breakpoint-up(xl) {
				    left: 6.25rem;
				    right: 6.25rem;
			    }
		    }

		    &::after
		    {
			    bottom: 0;
		    }
        }

        &-top
        {
            position: relative;

		    &::before
		    {
			    background-color: #d8d8d8;
			    content: ' ';
			    height: 1px;
			    left: 3.75rem;
			    position: absolute;
			    right: 3.75rem;

			    @include media-breakpoint-down(sm) {
				    left: 1.25rem;
				    right: 1.25rem;
			    }

			    @include media-breakpoint-up(xl) {
				    left: 6.25rem;
				    right: 6.25rem;
			    }
		    }

		    &::before
		    {
			    top: -1px;
		    }
        }
	}

	&--padding-none
	{
		padding-bottom: 0;
		padding-top: 0;
	}

	&--padding-top-none
	{
		padding-top: 0;
	}

	&--padding-bottom-none
	{
		padding-bottom: 0;
	}

	&--padding-half
	{
		padding-bottom: 3.125rem;
		padding-top: 3.125rem;
	}

	&--padding-top-half
	{
		padding-top: 3.125rem;
	}

	&--padding-bottom-half
	{
		padding-bottom: 3.125rem;
	}

    &--padding-top-large
	{
		padding-top: 6.25rem;
	}

	&--padding-bottom-large
	{
		padding-bottom: 6.25rem;
	}

    @include media-breakpoint-down(sm)
    {
        padding: 1.25rem;
    }

	&__inner
	{
		align-items: flex-start;
		color: $gray-900;
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 10;
	}

	&__note
    {
    	color: #aaa;
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.625;
    }

    &__t
    {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 0;

        @extend %font-headings;
    }

    &__descr
    {
        font-size: 1.125rem;
        font-weight: normal;
        line-height: 1.625rem;

        &--b
        {
            font-weight: bold;
        }

        &--i
        {
            font-style: italic;
        }

        &--lt
        {
            text-decoration: line-through;
        }

        &--normal
        {
            font-size: 1.125rem;
        }

        &--medium
        {
            font-size: 1.5rem;
        }

        &--large
        {
            font-size: 1.75rem;
            line-height: 1.2;
        }
    }

	&__t
	{
		font-weight: 900;
	}

	@include media-breakpoint-down(md) {
        &__t
        {
            font-size: 1.75rem;
            line-height: 2.25rem;
        }

        &__descr
        {
            font-size: 1rem;
        }
    }

    @include media-breakpoint-down(sm) {
        &__t
        {
        	font-size: 1.5rem;
        	line-height: 2rem;
        }

        &__note
        {
        	font-size: 1rem;
        }
    }

	&__space
	{
		height: 1.25rem;

		&--size-lg
		{
			height: 2.5rem;
		}
	}

	&__actions
	{
		display: flex;
		flex-wrap: wrap;
        margin-top: auto;

		.btn
		{
            font-weight: bold;

			@include media-breakpoint-down(xs) {
				justify-content: center;
				margin-bottom: 1.25rem;
				width: 100%;
			}

			@include media-breakpoint-up(sm) {
                & ~ .btn
                {
				    margin-left: 1.25rem;
                }
			}

            &--w-auto
            {
                width: auto;
            }
		}
	}

	// Align for block
	&--align-center .block__inner
	{
		align-items: center;
		text-align: center;

		@include media-breakpoint-up(md) {
			.block__text
			{
				text-align: center;
			}
		}

		.block__actions
		{
			justify-content: center;
		}

		.list-items--reviews.list-items
		{
            & .list__img,
            & .list__t,
            & .list__pos,
            & .list__company
            {
			    margin-left: auto;
			    margin-right: auto;
            }
		}
	}

	&--align-right .block__inner
	{
		align-items: flex-end;
        text-align: right;

		.block__actions
		{
			justify-content: flex-end;
		}
	}

	// Bg colors for block
	&--bg-light
	{
		background-color: $gray-100;

		.block__inner
	    {
	    	color: $gray-900;
	    }
	}

	&--bg-orange
	{
		background-color: $orange;

		.block__inner
	    {
	    	color: $white;
	    }

	    .block__note
	    {
	    	color: rgba(255,255,255,.7);
	    }
	}

	// Elements
	ul,
	ol
	{
		li
		{
			align-items: center;
			display: flex;
			font-size: 0.875rem;
		}
	}
	
	.block__descr
    {
        p,
        ul,
        ol
        {
            margin-bottom: 1.875rem;

			li
			{
				display: list-item;
			}
        }
    }

	.btn--white
	{
		border-color: $white;
		color: $orange;

		&:hover
		{
			background-color: $orange;
			border-color: $orange;
			color: $white;
		}
	}

	.row
	{
		flex-wrap: nowrap;

		@include media-breakpoint-down(md) {
			flex-wrap: wrap;

			[class*="col-"]:not(:first-child) {
				padding-top: 2.5rem;
			}
		}

		.block__t,
		.block__descr
		{
			max-width: 100%;
		}
	}

	.block__logo
	{
		max-height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
	}

	.block__learn
	{
		align-items: center;
		display: flex;
		justify-content: space-between;
		width: 100%;

		&--center
		{
			justify-content: center;
		}

        &--white-title
        {
            .block__t
            {
                color: $white;
            }
        }

        &--black-title
        {
            .block__t
            {
                color: $black;
            }
        }

		@include media-breakpoint-down(xs) {
			&--center
			{
				justify-content: flex-start;
			}

			flex-direction: column;
			
			.btn
			{
				margin-top: 1.875rem;
			}
		}

		@include media-breakpoint-up(sm) {
			.btn
			{
				margin-left: 1.875rem;
			}
		}
	}

	.form
	{
		align-items: center;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-bottom: 1rem;
		max-width: 36rem;
		min-width: 20rem;

        &--in-list
        {
            .form-group
            {
                @include media-breakpoint-up(lg)
                {
                    max-width: 20rem;
                }
            }
        }

		&__divider
		{
			margin: 0.25rem 0;
			width: 100%;
		}

		.form-group
		{
			margin-bottom: 0.625rem;
			width: 100%;

			&--inline
			{
				.form-control
				{
					width: auto;
				}
			}

			.form-control
			{
				margin-bottom: 0;
			}
		}

		.form-control
		{
			margin-bottom: 0.625rem;
			min-width: 12rem;
		}

		.btn
		{
            font-weight: bold;
			margin-bottom: 0.625rem;
		}

		&--inline
		{
			align-items: flex-start;
			flex-direction: row;
			justify-content: center;

			@include media-breakpoint-up(sm) {
				.form-control
				{
					flex-basis: 0;
					flex-grow: 1;
					margin-right: 0.625rem;
				}

				.form-checkbox
				{
					width: 100%;
				}
			}
		}

		@include media-breakpoint-down(md) {
			min-width: 0;
			width: 100%;

			.form-control,
			.btn
			{
				flex-basis: auto;
				margin-right: 0;
				width: 100%;
			}
		}
	}

	.block__note2
	{
		font-size: 0.875rem;
		max-width: 18.75rem;
		text-align: center;
	}

	.block__form
	{
		background-color: $gray-100;
		color: $gray-900;
		padding: 1.875rem;
		

		.form-checkbox__label
		{
			font-size: 0.875rem;
			line-height: 1.15;
			padding-top: 0.25rem;
		}
	}

	.block__form,
	.block__media
	{
		border-radius: 0.3125rem;
		flex: 0 0 28.75rem;
		width: 25rem;

		@include media-breakpoint-down(sm) {
			flex-basis: auto;
			flex-grow: 1;
			width: auto;
		}
	}

	.block__media
	{
		padding: 0;

		iframe,
		object,
		embed
		{
			border-radius: 0.3125rem;
		}

		&-pic
		{
			display: block;
			max-width: 100%;
			width: 100%;
		}

		.block-video
		{
			border-radius: 0.25rem;
			cursor: pointer;
			overflow: hidden;
			display: block;
			position: relative;
			
			&__action
			{
				background: url(../../images/redesign/icons/play.svg) no-repeat;
				background-size: auto;
				background-size: contain;
				height: 5.125rem;
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%,-50%);
				transition: all .25s ease;
				width: 5.125rem;
                z-index: 6;
			}
		}
	}

    .block-video__action:hover
	{
		opacity: 0.75;
	}

	.block__pic
	{
		display: block;
		width: 100%;
	}

	[class*="col-"]
	{
		&:first-child
		{
			.block__form,
			.block__media,
			.block__text
			{
				margin-right: 1.75rem;

				@include media-breakpoint-down(md) {
					margin-left: auto;
					margin-right: auto;
				}

				@include media-breakpoint-up(xl) {
					margin-right: 3.75rem;
				}
			}
		}

		&:last-child
		{
			.block__form,
			.block__media,
			.block__text
			{
				margin-left: 1.25rem;

				@include media-breakpoint-down(md) {
					margin-left: auto;
					margin-right: auto;
				}

				@include media-breakpoint-up(xl) {
					margin-left: 3.75rem;
				}
			}
		}
	}

	&.block--bg-light,
	&.block--bg-dark
	{
		.block__form
		{
			background-color: $white;
		}
	}

	// Review
	.review
	{
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;

		&__img
		{
			flex: 0 0 7.5rem;
			max-width: 7.5rem;

			img
			{
				max-width: 100%;
			}

            &--rounded
            {
                img
                {
                    border-radius: 2rem;
                }
            }
		}

		&__info
		{
			flex-basis: 0;
			flex-grow: 1;
			padding-left: 1.25rem;
			max-width: 100%;
		}

		&__text
		{
			font-size: 1.75rem;
		}

		&__links
		{
			display: flex;
			flex-wrap: wrap;
			margin-top: 1.875rem;

			&-item
			{
				font-size: 1rem;

				&.field
				{
					color: #aaa;
				}
			}

			@include media-breakpoint-down(sm) {
				align-items: flex-start;
				flex-direction: column;

				&-item ~ .review__links-item 
				{
					margin-top: 0.625rem;
				}
			}

			@include media-breakpoint-up(md) {
				&-item ~ .review__links-item 
				{
					margin-left: 0.625rem;
				}
			}
		}

		@include media-breakpoint-down(sm) {
			flex-direction: column;

			&__img
			{
				flex-basis: auto;
				flex-grow: 0;
			}

			&__info
			{
				padding: 1.25rem 0 0;
			}

			&__t
			{
				font-size: 1.5rem;
			}
		}
	}

	.block__cover-pic
	{
		align-items: flex-end;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		display: flex;
		min-height: 26.25rem;
		padding: 0 2.5rem 2.5rem;
		position: relative;
		width: 100%;

		.block__note
		{
			color: $white;
			font-size: 1.25rem;
			position: relative;
			z-index: 10;
		}

		@include media-breakpoint-down(sm) {
			.block__note
			{
				font-size: 1rem;
			}
		}
	}

	.author
    {
        display: flex;
        flex-direction: column;
        height: 2.75rem;
        justify-content: center;
        margin-top: 0.625rem;
        padding-left: 3.25rem;
        position: relative;

        &__t
        {
            font-size: 1rem;
            line-height: 1rem;
            font-weight: bold;
        }

        &__date
        {
            color: #aaa;
            font-size: 0.75rem;
            font-weight: bold;
            line-height: 1rem;
            margin-top: 0.5rem;
            text-transform: uppercase;
        }

        &__t,
        &__date
        {
            @extend %font-headings;
        }

        &::after,
        &::before
        {
            content: ' ';
            position: absolute;
        }

        &::after
        {
            background: url($tpl-img-url + 'vc-author-logo.svg') no-repeat scroll 0 0;
            height: 1.5rem;
            left: 0.5625rem;
            top: 0.625rem;
            width: 1.625rem;
        }

        &::before
        {
            background-color: $gray-200;
            border-radius: 2.75rem;
            height: 100%;
            left: 0;
            top: 0;
            width: 2.75rem;
        }
    }

    .block__quote
    {
    	margin-bottom: 3rem;
    	max-width: 3.75rem;
    }

    .block__pager
    {
    	&-control
    	{
    		color: $gray-900;
    		display: block;
    		padding-left: 1.875rem;
    		position: relative;

    		svg
    		{
    			height: 1.125rem;
    			position: absolute;
    			top: 50%;
    			transform-origin: 50% 0;
    			transform: translateY(-50%);
    		}

    		&--prev
    		{
    			svg
    			{
    				left: 0;
    				transform: rotate(180deg) translateY(-50%);
    			}
    		}

    		&--next
    		{
    			padding-left: 0;
    			padding-right: 1.875rem;
    			text-align: right;

    			svg
    			{
    				right: 0;
    			}
    		}
    	}

    	&-t,
		&-descr
		{
			color: $gray-900;
			display: block;
		}

		&-t
		{
			color: #aaa;
			font-size: 1rem;
			font-weight: bold;
			margin-bottom: 0.625rem;
			text-transform: uppercase;
		}

		&-descr
		{
			font-size: 1.125rem;
		}
    }

	// List items
	.list-items
	{
		@extend %list-items;
	}

	// List cards
	.list-cards
	{
		@extend %list-cards;
	}
	
	// List partners
	.list-partners
	{
		@extend %list-partners;
	}

	// List images
	.list-images
	{
		@extend %list-images;
	}

	.list-items,
	.list-cards
	{
		.list__t {
	        font-size: 1.25rem;
	        font-weight: 900;
	        line-height: 1.625rem;
	        margin-bottom: 1.25rem;

	        @extend %font-headings;
	    }

	    .list__descr
	    {
	        font-size: 1rem;
	        line-height: 1.5rem;
	    }
	}

	.list-items
	{
		.list__descr
		{
			align-items: flex-start;

			@include media-breakpoint-down(lg)
            {
				flex-direction: column;
			}
		}

        .list__quote
		{
			flex: 0 0 3.75rem;
			margin-right: 1.25rem;
			max-height: 3.75rem;
			max-width: 3.75rem;

            @include media-breakpoint-down(lg)
            {
                margin-bottom: 1.25rem;
            }
		}

        .list__item--flex
        {
            display: flex;
        }
	}
}


// Cover block
.block--cover
{
	background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: cover;
    flex: 0 0 37.5rem;
	min-height: 37.5rem;
    position: relative;

    &--not-fixed
    {
        min-height: initial;
    }

    &__note,
	&__t,
	&__descr
	{
		margin: 0;
		max-width: 37.5rem;
	}

	&__note
	{
		font-weight: bold;
	}

    &-fixed
    {
		background-attachment: fixed;
    }

    &-static
    {
    	background-attachment: scroll;
    }

    // Bg colors for block
	.block--bg-light
	{
		background-color: $gray-100;

		.block__inner
	    {
	    	color: $gray-900;
	    }
	}

	.block--bg-orange
	{
		background-color: $orange;

		.block__inner
	    {
	    	color: $white;
	    }
	}
}

// Info block
.block--info
{
	.block__t,
	.block__descr
	{
		max-width: 100%;
	}

	@include media-breakpoint-down(md) {
		.row
		{
			[class*="col-"]:not(:first-child)
			{
				padding-bottom: 2.5rem;
			}
		}
	}
}

// Block author
.block--author {
	.block__photo {
		background-position: 50%;
		background-size: cover;
		max-width: 31.25rem;
		padding-top: 100%;
		position: relative;
		width: 100%;

		&--pattern-1 {
			margin-bottom: 4.5rem;
		}

		&--pattern-1::after,
		&--pattern-2::after {
			content: ' ';
			position: absolute;
		}

		&--pattern-1::after {
			background: url('../../images/redesign/pattern-1.svg') 0 0 no-repeat;
			bottom: -4.5rem;
			height: 11rem;
			left: -4.5rem;
			width: 11rem;
		}

		&--pattern-2::after {
			background: url('../../images/redesign/pattern-2.svg') 0 0 no-repeat;
			height: 17.125rem;
			left: -7.375rem;
			top: 0;
			width: 14.75rem;
		}
	}

	.author-info {
		font-size: 0.8125rem;
		margin-top: 3.75rem;

		.block__descr {
			color: #aaa;
			font-size: 0.8125rem;
			font-weight: normal;
			line-height: 28px;
		}

		.block__name {
			color: #000;
			font-weight: bold;
			margin-top: 1.25rem;
		}
	}

	@include media-breakpoint-down(md) {
		.block__photo {
			&--pattern-1,
			&--pattern-2 {
				&::after {
					background-size: cover;
				}
			}

			&--pattern-2 {
				&::after {
					height: 7.5rem;
					left: -3.25rem;
					width: 6.5625rem;
				}
			}
		}
	}

	@include media-breakpoint-down(xs) {
		.block__photo {
			&--pattern-1 {
				margin-bottom: 2.75rem;

				&::after {
					bottom: -2.75rem;
					height: 6.875rem;
					left: -2.75rem;
					width: 6.875rem;
				}
			}

			&--pattern-2 {
				&::after {
					height: 3.125rem;
					left: -1.375rem;
					width: 2.625rem;
				}
			}
		}
	}
}
