<div class="main">
	<div class="page page-404">
		<img src="/assets/i/page/404/img.png" alt="" class="page__pic">
		<h1 class="page__t">Page not found</h1>
		<a href="/" class="btn btn--orange btn--round">Back to home</a>
	</div>
</div>
