<div class="section section--hp">
    <div class="section__inner container">
        <div class="row align-items-lg-center">
            <div class="col-lg">
                <div class="section__info">
                    <h1 class="section__t">B2B Digital Commerce for Enterprises</h1>
                    <p class="section__descr">Get to Market Faster with a Working Proof of Concept for your Product Data & Business Requirements.</p>
                    <div class="form">
                        <input type="text" class="form-control form-control--round" placeholder="you@mail.com" />
                        <button class="btn btn--orange btn--round">Try Virto Commerce Now</button>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <img src="../assets/images/home/bg.png" alt="" class="section__pic" />
                <img src="../assets/images/home/bg-mobile.svg" alt="" class="section__pic section__pic--mobile" />
            </div>
        </div>
    </div>
</div>
<div class="section section--gray">
    <div class="section__inner container">
        <h2 class="section__t">Business Leaders Choose Virto Commerce</h2>
        <p class="section__descr">
            View just a handful of the top companies that use <br />Virto Commerce to power their sales</p>
        <ul class="nav nav--customers">
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <span class="nav__brand nav__brand--bosch"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <span class="nav__brand nav__brand--heineken"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <span class="nav__brand nav__brand--vivint"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <span class="nav__brand nav__brand--volvo"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <span class="nav__brand nav__brand--malt"></span>
                </a>
            </li>
        </ul>
        <a href="#" class="btn btn--lg">View Our Customer Showcase</a>
    </div>
</div>
<div class="section">
    <div class="section__inner container">
        <h2 class="section__t">All you need in one place</h2>
        <p class="section__descr">
            Virto Commerce is a flexible B2B ecommerce solution built on .NET <br />that offers powerful tools for enterprises.</p>
        <div class="benefits row">
            <div class="benefits__item col-md-6 col-lg-3">
                <img src="../assets/images/home/benefits/catalog.svg" alt="" class="benefits__icon" />
                <div class="benefits__t">Catalog Management</div>
                <p class="benefits__descr">Virto’s platform provides sophisticated catalog management capabilities making it simple to manage even the most complex B2B product lists.</p>
            </div>
            <div class="benefits__item col-md-6 col-lg-3">
                <img src="../assets/images/home/benefits/cms.svg" alt="" class="benefits__icon" />
                <div class="benefits__t">CMS</div>
                <p class="benefits__descr">Virto Commerce’s powerful CMS  gives both developers and marketers complete control over their store. Virto Commerce is also integrated with many top CMS platforms. </p>
            </div>
            <div class="benefits__item col-md-6 col-lg-3">
                <img src="../assets/images/home/benefits/order.svg" alt="" class="benefits__icon" />
                <div class="benefits__t">Order Management</div>
                <p class="benefits__descr">Virto Commerce provides industry leading order management functions. They can be integrated into complex enterprise workflows - including many leading ERP and fulfillment systems.</p>
            </div>
            <div class="benefits__item col-md-6 col-lg-3">
                <img src="../assets/images/home/benefits/promotions.svg" alt="" class="benefits__icon" />
                <div class="benefits__t">Promotions</div>
                <p class="benefits__descr">Simple to use, our promotion engine lets you create a myriad of campaigns without developer assistance.</p>
            </div>
        </div>
        <div class="benefits__actions">
            <a href="#" class="benefits__actions-control benefits__actions-control--prev"></a>
            <a href="#" class="benefits__actions-control benefits__actions-control--next"></a>
        </div>
    </div>
</div>
<div class="section section--gray">
    <div class="section__inner container">
        <h2 class="section__t">Your Long - Term Digital Commerce Partner</h2>
        <p class="section__descr">Virto Commerce is more than just software – When you use it, you have support from our Virto team of experts, community, and partners worldwide and suite of value added services to ensure your solution is a success.</p>
        <div class="benefits row">
            <div class="benefits__item col-md-6 col-lg-4">
                <img src="../assets/images/home/benefits/partners.svg" alt="" class="benefits__icon" />
                <div class="benefits__t">Partners</div>
                <p class="benefits__descr">Worldwide network of certified implementation partners to fit every project.</p>
                <a href="#" class="benefits__link">Learn more</a>
            </div>
            <div class="benefits__item col-md-6 col-lg-4">
                <img src="../assets/images/home/benefits/solution.svg" alt="" class="benefits__icon__middle" />
                <div class="benefits__t__middle">Expert Services</div>
                <p class="benefits__descr">Virto Commerce experts are at your disposal - offering unique digital commerce knowledge.</p>
                <a href="#" class="benefits__link">Learn more</a>
            </div>
            <div class="benefits__item col-md-6 col-lg-4">
                <img src="../assets/images/home/benefits/community.svg" alt="" class="benefits__icon" />
                <div class="benefits__t">Community & App Store</div>
                <p class="benefits__descr">Explore our growing App Store of extensions and themes to customize your solution.</p>
                <a href="#" class="benefits__link">Learn more</a>
            </div>
        </div>
        <div class="benefits__actions">
            <a href="#" class="benefits__actions-control benefits__actions-control--prev"></a>
            <a href="#" class="benefits__actions-control benefits__actions-control--next"></a>
        </div>
    </div>
</div>
{% include 'technologies' %}
<div class="section">
    <div class="section__inner container">
        <h2 class="section__t">Be inspired! Check out some leading sites that are powered by Virto Commerce.</h2>
        <div class="carousel">
            <div class="carousel__container"></div>
            <a href="#" class="carousel__control carousel__control--prev"></a>
            <a href="#" class="carousel__control carousel__control--next"></a>
        </div>
    </div>
</div>
<div class="section section--gray section--pattern">
    <div class="section__inner container">
        <h2 class="section__t">See how Virto Commerce can lead your digital transformation</h2>
        <a href="#" class="btn btn--orange btn--lg">GET STARTED</a>
    </div>
</div>
