{% if json_page.settings.layout != blank %}
    {% layout json_page.settings.layout %}
{% endif %}

{{ 'blocks.css' | asset_url | stylesheet_tag }}

<div class="features-page">
    {% include 'json-blocks' -%}
</div>
