{% if block.style == 'dark' %}
{% assign cssStyle = 'section--gray' %}
{% endif %}
<section class="section {{ cssStyle }} section--bg">
    <div class="section__inner container">
        {% if block.title != blank %}
        <h2 class="section__t">{{ block.title }}</h2>
        {% endif %}
        <div class="section__descr">
            {{ block.content }}
        </div>
    </div>
</section>

{% comment %}

{"id": "name","label": "Block name","type": "string","default": "Text"},
{"id": "content","label": "Content","type": "text","default": "Lorem ipsum dolor sit amet, consectetur ..." }

{% endcomment %}
