<div class="section {% if block.style == 'dark' %} section--gray {% endif %} {% if block.noTop == True %} section--small-top {% endif %} {% if block.noBottom == True %} section--small-bottom {% endif %}">
    <div class="section__inner container"><div class="section__divider"></div></div>
</div>
