<section class="section">
    <div class="section__inner container">
        <div class="row align-items-lg-center">
            <div>
                {{ block.content }}
            </div>
        </div>
    </div>
</section>

{% comment %}

{"id": "name","label": "Block name","type": "string","default": "Text"},
{"id": "content","label": "Content","type": "text","default": "Lorem ipsum dolor sit amet, consectetur ..." }

{% endcomment %}
