{% layout 'apps' %}

{% assign page_title = 'Virto Commerce Appstore - Vendor ' | append: vendor.name %}
<div class="apps container">
    {% include 'breadcrumb' %}
    <div class="vendor">
        <div class="row">
            <div class="col-md">
                <div class="content_t">
                    <h1 class="t">{{ vendor.name }}</h1>
                    <ul class="nav nav--vendors">
                        <li class="nav__item">
                            <a class="btn btn--orange" style="cursor:pointer;" ng-click="showContactVendorForm()">Contact</a>
                        </li>
                        <li class="nav__item">
                            <a class="btn btn--orange" style="cursor:pointer;" ng-click="showSupportVendorForm()">Support</a>
                        </li>
                        <li class="nav__item">
                            <a class="btn btn--orange" href="{{ vendor.site_url | absolute_url }}">Site</a>
                        </li>
                    </ul>
                </div>
                <div class="vendor-descr">
                    {{ vendor.description }}
                </div>
            </div>
            <div class="extension-links col-md-4">
                <div class="extension-canvas">
                    <img alt="" src="{{ vendor.logo_url | absolute_url }}" class="extension-img" />
                </div>
            </div>
        </div>
    </div>
</div>
