<div id="{{ block.__id }}" class="section {% if block.noTop == true %} section--small-top {% endif %}
     {% if block.noTop == 'True' %} section--small-top {% endif %}
     {% if block.noBottom == 'True' %} section--small-bottom {% endif %}
     {% if block.noPad == 'True' %} section--no-padding {% endif %}">
    <div class="section__inner container">
        <h2 class="section__t">Business Leaders Choose Virto Commerce</h2>
        <p class="section__descr--centered">
            View just a handful of the top companies that use <br />Virto Commerce to power their ecommerce
        </p>
        <ul class="nav nav--customers">
            <li class="nav__item">
                <a href="/case-studies/bosch" class="nav__link">
                    <span class="nav__brand nav__brand--bosch"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies" class="nav__link">
                    <span class="nav__brand nav__brand--heineken"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies" class="nav__link">
                    <span class="nav__brand nav__brand--vivint"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies" class="nav__link">
                    <span class="nav__brand nav__brand--volvo"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies/lavazza" class="nav__link">
                    <span class="nav__brand nav__brand--lavazza"></span>
                </a>
            </li>
        </ul>
        <a href="/case-studies" class="btn btn--lg">View Our Customer Showcase</a>
    </div>
</div>
