<div class="section {% if block.style == 'dark' %} section--gray {% endif %} {% if block.noTop == true %} section--small-top {% endif %} {% if block.noBottom == true %} section--small-bottom {% endif %} {% if block.noPad == true %} section--no-padding {% endif %}">
    <div class="section__inner container">
        {% include 'blocks/block-title', title: block.title, headerStyle: block.headerStyle %}
        <div class="row list list--aside">
            <div class="list__sidebar col-md-auto">
                {% for item in block.list %}
                <div class="list__item">
                    <div class="list__num">{{ forloop.index }}</div>
                    <div class="list__descr">{{ item.text }}</div>
                </div>
                {% endfor %}
            </div>
            <div class="list__content col-md">
                {{ block.content }}
            </div>
        </div>
    </div>
</div>
