<div class="section section--bg-pattern
     {% if block.noTop == 'True' %} section--small-top {% endif %}
     {% if block.noBottom == 'True' %} section--small-bottom {% endif %}
     {% if block.noPad == 'True' %} section--no-padding {% endif %}">
    <div class="section__inner container">
        {% include 'blocks/block-title' block: block %}
        {% if block.content != '' %}
        <div class="section__descr">
            {{ block.content }}
        </div>
        {% endif %}
    </div>
</div>
