<div class="section {% if block.style == 'dark' %} section--gray {% endif %} {% if block.noTop == true %} section--small-top {% endif %} {% if block.noBottom == true %} section--small-bottom {% endif %} {% if block.noPad == true %} section--no-padding {% endif %}">
    <div class="section__inner container">
        <div class="section__info">
			<h2 class="section__t">{{ block.title }}</h2>
			<form class="form-horizontal" action="{{ block.downloadUrl }}">
				<input name="CaseStudy[Email]" placeholder="Your email" type="text" class="form-control" />
				<input name="CaseStudy[Name]" placeholder="John Smith" type="text" class="form-control" />
				<input type="submit" class="btn btn--orange" value="{{ block.buttonText }}" />
				<div class="form-descr">
					{{ block.description }}
				</div>
			</form>
		</div>
    </div>
</div>

{% comment %}

    {"id": "name","label": "Block name","type": "string"},
    {"id": "size","label": "Choose size","type": "select","default": "medium",
    "options": [{"label": "Small","value": "small"},{"label": "Medium","value": "medium"},
    {"label": "Large","value": "large"},{"label": "Extra Large","value": "xlarge"}]},
    {"id": "url","label": "Upload picture","type": "image","previewWidth": 120,"previewHeight": 80}

{% endcomment %}
