.blog {
    background: $gray-100;
    box-sizing: border-box;
    height: 100%;
    padding: 3.125rem 0;

    &__heading {
        font-weight: 900;

        @include media-breakpoint-down(md) {
            font-size: 1.875rem;
            margin-top: 2.5rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 2.5rem;
            margin-top: 3.125rem;
        }
    }

    &__meta {
        display: flex;
        flex-wrap: wrap;

        .list--socials {
            margin-bottom: 0.375rem;
            margin-left: auto;
        }
    }

    .blog__t {
        align-items: center;
        display: flex;
        font-weight: 900;
        line-height: 1.25;

        &-ico {
            height: 2.5rem;
            flex: 0 0 2.5rem;
            margin-right: 1.875rem;
            width: 2.5rem;

            .fill {
                fill: $black;
            }

            &:hover {
                .fill {
                    fill: $orange;
                }
            }
        }
    }

    .blog__date {
        margin-left: 4.375rem;
    }

    @include media-breakpoint-up(md) {
        .blog__t {
            font-size: 1.875rem;
        }
    }

    @include media-breakpoint-up(lg) {
        .blog__t {
            font-size: 2.5rem;
        }
    }

    &-main {
        display: flex;
        margin-top: 2.1875rem;

        @include media-breakpoint-down(md) {
            margin-top: 0.3125rem;
        }
    }

    &-hero {
        background-size: cover;
        background-position: 50%;
        height: 22rem;
        position: relative;
        margin-bottom: 2.5rem;
        border-radius: 0.625rem;
        overflow: hidden;

        &::after {
            content: " ";
            background: rgba(0, 0, 0, 0.25);
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }

    &-content {
        flex: 1 0 0;

        img {
            border-radius: 0.625rem;
            display: block;
            margin-bottom: 2.5rem;
            max-width: 100%;
        }

        h2 {
            font-size: 1.125rem;
            font-weight: 900;
            margin-bottom: 1.25rem;
        }

        @extend %ul-and-ol;

        ul,
        ol {
            margin-bottom: 1.25rem;
        }
    }

    &-post {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex: 0 0 35rem;
        height: 35rem;
        position: relative;

        &__bg {
            background-size: cover;
            background-position: 50%;
            border-radius: 0.625rem;
            height: 100%;
            position: absolute;
            width: 100%;

            &::after {
                background: rgba(0, 0, 0, 0.25);
                border-radius: 0.625rem;
                bottom: 0;
                content: " ";
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        &__category {
            align-items: center;
            background: $white;
            border-radius: 1.875rem;
            display: flex;
            font-size: 0.875rem;
            font-weight: 900;
            height: 1.875rem;
            line-height: 1;
            padding: 0.125rem 0.9375rem 0;
            text-transform: uppercase;

            &[data-name="news"] {
                color: $red;
            }

            &[data-name="release"] {
                color: #1abd4f;
            }

            &[data-name="technical"] {
                color: #6c5aff;
            }
        }

        &__text {
            color: $white;
            margin-top: auto;
        }

        &__category,
        &__text {
            position: relative;
            z-index: 50;
        }

        &__t {
            line-height: 1.15;

            @include media-breakpoint-down(md) {
                font-size: 1.5rem;
                margin-bottom: 0.9375rem;
            }

            @include media-breakpoint-up(lg) {
                font-size: 2.5rem;
                margin-bottom: 1.875rem;
            }
        }

        &__descr {
            font-size: 0.875rem;

            @include media-breakpoint-down(md) {
                margin-bottom: 0.9375rem;
            }

            @include media-breakpoint-up(lg) {
                margin-bottom: 1.875rem;
            }
        }

        .btn {
            color: $black;
            font-size: 1rem;
            justify-content: center;
            width: 7.5rem;
        }

        @include media-breakpoint-down(md) {
            flex: 1 0 30rem;
            height: 30rem;

            &__category {
                margin: 1.25rem 1.25rem 0;
            }

            &__text {
                padding: 1.25rem;
            }
        }

        @include media-breakpoint-down(sm) {
            flex: 1 0 25rem;
            height: 25rem;
        }

        @include media-breakpoint-up(lg) {
            &__category {
                margin: 3.75rem 3.75rem 0;
            }

            &__text {
                padding: 3.75rem;
            }
        }
    }

    &-sidebar {
        align-items: center;
        background: $white;
        border-radius: 0.625rem;
        display: flex;
        justify-content: center;
        padding: 1.875rem;

        &.collapsed {
            align-self: flex-start;
        }

        &__inner {
            width: 13.125rem;
        }

        &__pic {
            display: block;
            margin: 0 auto 1.875rem;
            max-width: 8.75rem;
        }

        &__t {
            font-size: 1.5rem;
            font-weight: 900;
            line-height: 1.1;
            margin-bottom: 1.875rem;
            text-align: center;
        }

        .form {
            margin-bottom: 1rem;

            .form-control,
            .btn {
                justify-content: center;
                margin-bottom: 0.9375rem;
                text-align: center;
                width: 100%;
            }
        }

        p {
            font-size: 0.875rem;
            line-height: 1.33;
            text-align: center;
        }

        .list--socials {
            margin-top: 1.25rem;
        }
    }

    @include media-breakpoint-down(md) {
        &-main {
            flex-direction: column;
        }

        &-sidebar {
            margin-top: 1.25rem;
        }
    }

    @include media-breakpoint-up(lg) {
        &-sidebar {
            flex: 0 0 16.875rem;
            margin-left: 2.5rem;
            max-width: 16.875rem;
        }
    }

    .list--tags {
        display: flex;
        flex-wrap: wrap;
        margin-top: auto;

        .list__item {
            align-items: center;
            background: $white;
            border-radius: $border-radius;
            border: 1px solid $gray-300;
            color: inherit;
            display: flex;
            font-size: 0.875rem;
            height: 2rem;
            margin-bottom: 0.9375rem;
            margin-right: 0.9375rem;
            padding: 0 0.625rem;

            &--active {
                background: $yellow;
                border-color: $yellow;
                color: $white;
                pointer-events: none;
            }

            &:hover {
                background: $yellow;
                border-color: $yellow;
                color: $white;
            }

            &:last-child {
                margin-right: 0;
            }

            @include media-breakpoint-down(xs) {
                font-size: 0.75rem;
                margin-bottom: 0.625rem;
                margin-right: 0.625rem;
                padding: 0 0.375rem;
            }
        }

        &-small {
            .list__item {
                font-size: 0.75rem;
                height: 1.5rem;
                margin-bottom: 0.625rem;
                margin-right: 0.625rem;
            }
        }
    }

    .list--socials {
        display: flex;
        justify-content: center;

        .list__item {
            font-size: 0;
            height: 1.875rem;
            margin: 0 0.375rem;
            width: 1.875rem;

            .fill {
                fill: $black;
            }

            &:hover {
                .fill {
                    fill: $orange;
                }
            }
        }
    }

    .list--posts {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1.25rem;

        > .list__item {
            display: flex;
            flex-direction: column;
            margin-top: 2.5rem;
            padding: 0 1.25rem;
            position: relative;
        }

        .list__bg {
            border-radius: 0.5rem 0.5rem 0 0;
            display: block;
            min-height: 10rem;
            background-size: cover;
            background-position: 50%;
        }

        .list__category {
            align-items: center;
            background: $white;
            border-radius: 1.875rem;
            display: flex;
            font-size: 0.875rem;
            font-weight: 900;
            height: 1.875rem;
            left: 3.125rem;
            line-height: 1;
            padding: 0.125rem 0.9375rem 0;
            position: absolute;
            top: 1.875rem;
            text-transform: uppercase;

            @include media-breakpoint-down(md) {
                left: 1.875rem;
                top: 1.25rem;
            }

            &[data-name="news"] {
                color: $red;
            }

            &[data-name="release"] {
                color: #1abd4f;
            }

            &[data-name="technical"] {
                color: #6c5aff;
            }
        }

        .list__info {
            background: $white;
            border-radius: 0 0 0.5rem 0.5rem;
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
        }

        .list__t {
            color: inherit;
            font-size: 1.125rem;
            font-weight: 900;
            line-height: 1.33;
            a {
                color: inherit;
            }
        }

        .list__descr {
            color: $gray-500;
            font-size: 0.875rem;
            margin: 0.9375rem 0;
        }

        .list--tags .list__item {
            font-size: 0.75rem;
            height: 1.5rem;
            margin-bottom: 0.625rem;
            margin-right: 0.625rem;
        }

        .list__author {
            align-items: center;
            display: flex;
            height: 3rem;
            margin-top: auto;

            &-logo {
                background: url("/themes/assets/logo.svg") no-repeat scroll 0 0;
                height: 3rem;
                flex: 0 0 3rem;
                margin-right: 0.625rem;
                width: 3rem;
            }

            &-text {
                font-size: 0.875rem;
                font-weight: normal;
            }

            &-date {
                color: $gray-500;
            }
        }

        @include media-breakpoint-down(md) {
            margin: 0 -0.625rem;

            > .list__item {
                flex: 0 0 100%;
                max-width: 100%;
                margin-top: 1.25rem;
                padding: 0 0.625rem;
            }

            .list__info {
                padding: 1.25rem;
            }

            .list__t {
                font-size: 1.125rem;
            }
        }

        @include media-breakpoint-up(lg) {
            > .list__item {
                flex: 0 0 33.3333%;
                max-width: 33.3333%;
            }

            .list__info {
                padding: 1.875rem;
            }
        }
    }
}
