.capabilities {
    padding-top: .875rem;
}

.capabilities__item {
    margin-top: 4.75rem;
    text-align: left;
}

.capabilities__icon {
    height: 3.125rem;
    margin-bottom: 1rem;
}

.capabilities__t {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.capabilities__list-item {
    font-size: .875rem;
    line-height: 1.7;
}

.capabilities__actions {
    display: none;
}

@media (max-width: 767.98px) {
    .capabilities__item:nth-child(n+4) {
        display: none;
    }

    .capabilities__actions {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 2.5rem;
    }

    .capabilities__actions-control {
        background: url(../assets/images/home/icons/slider-arrow.svg) no-repeat;
        cursor: pointer;
        height: 3.125rem;
        margin: 0 .875rem;
        width: 3.125rem;
    }

    .capabilities__actions-control--next {
        transform: rotateY(180deg);
    }
}

@media (max-width: 575.98px) {
    .capabilities__item:nth-child(n+3) {
        display: none;
    }
}
