.capabilities {
    padding-top: .875rem;
}

.capabilities__item {
    margin-top: 4.75rem;
    text-align: left;
}

.capabilities__icon {
    height: 3.125rem;
    margin-bottom: 1rem;
}

.capabilities__t {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.capabilities__list-item {
    font-size: .875rem;
    line-height: 1.7;
}
