solution {
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: .875rem;
}

@media (max-width: 991.98px) {
    solution {
        display: none;
    }
}

.solution__item {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 4.75rem;
}

.solution__icon {
    height: 5.25rem;
    margin-bottom: 2rem;
}

.solution__t {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.solution__link {
    color: inherit;
    font-size: .875rem;
}

.solution__link ~ .solution__link {
    margin-top: 1rem;
}
