.docs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.docs__inner {
    height: inherit;
}

.docs__header {
    background: #f8f9fa;
}

.docs__header-search {
    background: #e9ecef;
}

.docs__inner, .docs__body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.docs__body {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.docs__header-search, .docs__sidebar {
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    padding: 1.25rem 1.875rem;
    max-width: 100%;
}

.docs__header-nav, .docs__content {
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
}

.docs .nav__item {
    display: block;
    height: auto;
}

.docs .nav__item ~ .nav__item {
    margin-top: 1.25rem;
}

.docs .nav__item--active > .nav__link {
    color: #007bff;
}

.docs .nav__item--active > .nav__link .nav__icon {
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.docs .nav__item--active > .nav__link .path {
    fill: #007bff;
}

.docs .nav__link {
    border: none;
    font-size: .875rem;
}

.docs .nav__link:hover {
    color: #007bff;
}

.docs .nav__link:hover .path {
    fill: #007bff;
}

.docs .nav__icon {
    height: .8125rem;
    margin-right: .625rem;
    width: .4375rem;
}

.docs .path {
    fill: #000;
}

.docs .nav--sub {
    padding: 0;
    margin-left: 1.25rem;
    margin-top: 1.25rem;
}

.docs__header-nav {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1.875rem;
}

.docs__header-nav .nav__item {
    display: inline-block;
    margin-right: .9375rem;
    position: relative;
}

.docs__header-nav .nav__item ~ .nav__item {
    margin-top: 0;
}

.docs__header-nav .nav__item::before {
    background: url("../i/page/documentation/chevron.svg") no-repeat;
    content: ' ';
    display: inline-block;
    height: .8125rem;
    margin-right: .9375rem;
    vertical-align: -1px;
    width: .4375rem;
}

.docs__header-nav .nav__item:first-child::before {
    display: none;
}

.docs__header-nav .nav__link {
    color: #007bff;
}

.docs__header-nav .nav__link:hover {
    color: #fd7e14;
}

.docs__sidebar {
    background: #f8f9fa;
}

.docs__content {
    padding: 1.875rem;
}

.docs__content h2 {
    margin-bottom: .5rem;
}

.docs__content h3 {
    margin: 1.875rem 0;
}

.docs__content p {
    font-size: .875rem;
    line-height: 1.6;
    margin: 1rem 0;
}

.docs__content p:nth-of-type(1) {
    margin-top: 2rem;
}

.docs__content a[href] {
    -ms-flex-align: center;
    align-items: center;
    color: #007bff;
    display: -ms-flexbox;
    display: flex;
    font-size: .875rem;
}

.docs__content a[href] [class*="-ico"] {
    height: 1.5rem;
    margin-right: .625rem;
    width: 1.5rem;
}

.docs__content a[href] .path {
    fill: #007bff;
}

.docs__content a[href]:hover {
    color: #fd7e14;
}

.docs__content a[href]:hover .path {
    fill: #fd7e14;
}

@media (max-width: 991.98px) {
    .docs__header {
        padding: 1.25rem;
    }

    .docs__header-search, .docs__sidebar {
        display: none;
    }

    .docs__header-nav .nav__item:not(:last-child) {
        display: none;
    }
}

@media (min-width: 992px) {
    .docs__header-search, .docs__sidebar {
        -ms-flex: 0 0 23.75rem;
        flex: 0 0 23.75rem;
        max-width: 23.75rem;
    }
}
