.page-404
{
    padding: 10rem 0;
    text-align: center;

    .page__pic
    {
        height: 18.75rem;
        margin-bottom: 3.125rem;
        width: 20.875rem;
    }

    .page__descr
    {
        font-size: 1.125rem;
        margin-bottom: 2.5rem;
    }
}
