.btn
{
    align-items: center;
    background: $gray-600;
    border: 1px solid $gray-600;
    border-radius: .25rem;
    box-sizing: border-box;
    color: $white;
    cursor: pointer;
    display: inline-flex;
    font-size: .875rem;
    height: 2.5rem;
    padding: 0 1.875rem;

    &:hover
    {
        background: darken($gray-600, 2%);
        color: $white;
    }

	&--block
	{
		justify-content: center;
		width: 100%;
	}

    &--round
    {
        border-radius: 4rem;
    }

    &--expand
    {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &--lg
    {
        font-size: 1rem;
        height: 3.75rem;
        padding: 0 2.5rem;
    }

    &--orange
    {
        background: $orange;
        border-color: $orange;
        color: $white;

        &:hover
        {
            background: darken($orange, 2%);
            color: $white;
        }

        &.btn--outline
        {
            border-color: $orange;
            color: $orange;

            &:hover
            {
                color: $white;
            }
        }
    }

	&--red
	{
        background: $red;
        border-color: $red;
        color: $white;

        &:hover
        {
            background: darken($red, 2%);
            color: $white;
        }

        &.btn--outline
        {
            border-color: $red;
            color: $red;

            &:hover
            {
                color: $white;
            }
        }
    }

    &--white
    {
        background: $white;
        border-color: $white;
        color: $black;

        &:hover
        {
            background: darken($white, 5%);
            color: $black;
        }
    }

    @include media-breakpoint-down(sm) {
        &--lg
        {
            height: 2.5rem;
            padding: 0 1.25rem;
        }
    }
}
