.dropdown-menu
{
    background: $white;
    border-top: 1px solid $gray-300;
    display: none;
    left: 0;
    margin: 0;
    padding: 2.5rem 0;
    position: absolute;
    right: 0;
    top: 100%;

    &.opened
    {
        display: block;
    }

    &__t,
    &__item
    {
        color: inherit;
        display: block;
        font-size: .875rem;
    }

    &__t
    {
        font-weight: bold;
        line-height: 1;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    }

    &__item ~ .dropdown-menu__item
    {
        margin-top: 1rem;
    }
}
