// Collumns list
.list
{
    list-style: none;

    li
    {
        padding: 0;

        &::before
        {
            display: none;
        }
    }
}

.list--columns
{
    .list__item
    {
        margin-top: 4.75rem;
        text-align: left;
    }

    .list__t
    {
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: 1rem;
    }

    .list__icon
    {
        height: 5rem;
        margin-bottom: 1rem;

        &--mini
        {
            height: 2.5rem;
        }
    }

    .list__pic
    {
        margin-bottom: 1.875rem;
        max-width: 21rem;
    }

    .list__text
    {
        color: $gray-400;
        font-size: 1rem;
        margin-bottom: 1.25rem;
    }

    .list__descr
    {
        font-size: 1rem;
    }

    .list__link
    {
        color: $orange;
        display: inline-block;
        margin-top: 1.25rem;

        &:hover
        {
            color: darken($orange, 2%);
        }
    }

    .list__num
    {
        color: $black;
        font-size: 3.75rem;
        font-weight: 900;
        line-height: 1;
        margin-bottom: 1.25rem;
    }

    ul,
    ol
    {
        li
        {
            display: block;
            font-size: .875rem;
            line-height: 1.4;
            min-height: 0;
            padding: 0;

            & ~ li
            {
                margin-top: .625rem;
            }
        }

        a
        {
            color: inherit;

            &:hover
            {
                color: $orange;
            }
        }
    }

    & ~ .list__actions
    {
        display: none;
    }

    &.list--centered
    {
        text-align: center;

        .list__item,
        li
        {
            text-align: center;
        }
    }

    &.list--right
    {
        text-align: right;

        .list__item,
        li
        {
            text-align: right;
        }
    }

    @include media-breakpoint-down(sm) {
        .list__item:nth-child(n+4)
        {
            display: none;
        }

        .list__actions
        {
            display: flex;
            justify-content: center;
            margin-top: 2.5rem;

            &-control
            {
                background: url($tpl-img-url + 'icons/slider-arrow.svg') no-repeat;
                cursor: pointer;
                height: 3.125rem;
                margin: 0 .875rem;
                width: 3.125rem;

                &--next
                {
                    transform: rotateY(180deg);
                }
            }
        }
    }

    @include media-breakpoint-down(xs) {
        .list__item:nth-child(n+3)
        {
            display: none;
        }
    }
}

.list--capabilities
{
    .list__icon
    {
        height: 3.125rem;
    }
}

// List cards
.list--cards
{
    .list__item
    {
        margin-top: 1.875rem;
    }

    .list__inner
    {
        align-items: flex-start;
        border: 1px solid $gray-400;
        border-radius: .625rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0 1.875rem;
        text-align: left;
    }

    .list__img
    {
        border-radius: .625rem .625rem 0 0;
        flex: 0 0 13.125rem;
        height: 13.125rem;
        margin: -1px -1.9375rem 1.25rem;
        overflow: hidden;
    }

    .list__pic
    {
        border-radius: .625rem .625rem 0 0;
        display: block;
        width: 100%;
    }

    .list__t
    {
        font-size: 1.125rem;
        font-weight: bold;
        margin-bottom: 1.25rem;
    }

    .list__descr
    {
        color: $gray-500;
        font-size: .875rem;
        margin-bottom: 1.25rem;
    }

    .btn
    {
        margin: auto 0 1.25rem;
    }
}

.list--our-offices
{
    .list__descr
    {
        font-size: 1.125rem;
        line-height: 1.8;
    }
}

.list--breadcrumb
{
    align-items: center;
    display: flex;
    margin-bottom: 2.5rem;

    .list__item
    {
        color: $orange;
        font-size: .875rem;

        & ~ .list__item
        {
            margin-left: .9375rem;
            padding-left: .9375rem;
            position: relative;

            &::before
            {
                background: url($tpl-img-url + 'icons/arrow-chevron.svg') no-repeat scroll 0 0;
                content: ' ';
                display: block;
                height: .8125rem;
                left: 0;
                position: absolute;
                top: .125rem;
                width: .4375rem;
            }
        }
    }

    .list__link
    {
        color: $black;

        &:hover
        {
            color: $orange;
        }
    }
}

.list--aside
{
    .list__sidebar
    {
        align-self: flex-start;
        flex: 0 0 20rem;
        max-width: 20rem;

        .list__item
        {
            & ~ .list__item
            {
                margin-top: 1.875rem;
            }
        }

        .list__num
        {
            font-size: 3.75rem;
            font-weight: 900;
            line-height: 1;
        }

        .list__descr
        {
            font-size: 1.125rem;
            font-weight: 500;
        }
    }

    .list__content p
    {
        font-size: 1rem;
        line-height: 1.5rem;

        & ~ p
        {
            margin-top: 1.25rem;
        }
    }

    @include media-breakpoint-down(md) {
        .list__content
        {
            margin-top: 1.25rem;
        }
    }
}

.list--paging
{
    display: flex;
    margin-top: 2.5rem;

    .list__item
    {
        align-items: center;
        background: $white;
        border: 1px solid $gray-300;
        box-sizing: border-box;
        color: inherit;
        display: flex;
        font-size: .875rem;
        font-weight: normal;
        justify-content: center;
        height: 2.5rem;
        margin-right: -1px;
        width: 2.5rem;

        &:first-child
        {
            border-bottom-left-radius: $border-radius;
            border-top-left-radius: $border-radius;
        }

        &:last-child
        {
            border-bottom-right-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }

        &--prev,
        &--next
        {
            width: 4.375rem;
        }

        &:hover
        {
            background: $orange;
            border-color: $orange;
            color: $white;
        }
    }
}
