<div class="list__item" ng-repeat="article in articles">
    <a class="list__bg" href="{% raw %}{{ article.url }}{% endraw %}" ng-style="{ 'background-image': 'url(' + article.imageUrl + ')' }"></a>
    <div class="list__info">
        <div class="list__t">
            <a href="{% raw %}{{article.url}}{% endraw %}" ng-bind="article.title"></a>
        </div>
        <div class="list__descr">
            {% raw %}
            <a class="list__descr" href="{{article.url}}">{{article.excerpt}}</a>
            <div class="block__space"></div>
            <div ng-bind="article.createdDate | date: 'd MMMM y'"></div>
            {% endraw %}
        </div>
        <div class="list list--tags">
            <a class="list__item" ng-if="article.category" ng-click="setCurrentCategory(article.category)" ng-bind="'blogs.categories.' + article.category | translate"></a>
        </div>
        <div class="list__author">
            <div class="list__author-logo"></div>
            <div class="list__author-text">
                <div class="list__author-name" ng-bind="article.author || 'VirtoCommerce'"></div>
            </div>
        </div>
    </div>
</div>