<div class="blog-sidebar {{ cssClass }}">
    <div class="blog-sidebar__inner">
        <img class="blog-sidebar__pic" src="{{ 'bell.svg' | asset_url }}" alt="">
        <div class="blog-sidebar__t">Sign up to our newsletter</div>
        <form class="form">
            <input type="text" class="form-control" placeholder="Enter your email">
            <button class="btn btn--orange">Subscribe</button>
        </form>
        <p>... or follow the events on <br>social networks</p>
        <div class="list list--socials">
            {% include 'blog-socials', article: article %}
        </div>
    </div>
</div>
