<a rel="nofollow" href="https://www.facebook.com/virtocommerce" target="_blank" class="list__item">
    <img class="blog-sidebar__pic" src="{{ 'fb_c.svg' | asset_url }}" alt="">
</a>
<a rel="nofollow" href="https://www.linkedin.com/company/virto-commerce" target="_blank" class="list__item">
    <img class="blog-sidebar__pic" src="{{ 'images/icons/linkedin.svg' | asset_url }}" alt="">
</a>
<a rel="nofollow" href="https://twitter.com/virtocommerce?lang=en" target="_blank" class="list__item">
    <img class="blog-sidebar__pic" src="{{ 'tw_c.svg' | asset_url }}" alt="">
</a>
