<div class="blog-sidebar {{ cssClass }}">
    <div class="blog-sidebar__inner">
        <img class="blog-sidebar__pic" src="{{ 'bell.svg' | asset_url }}" alt="" />
        <div class="blog-sidebar__t">Sign up to our newsletter</div>
        <form class="form" name="blogSubscribeForm">
            <input type="text" class="form-control" placeholder="Enter your email" id="Blog[Email]" name="Blog[Email]" ng-model="email" required="" ng-pattern="emailPattern" />
            <div class="input-validation-error" style="color: #e32646; font-size: small;" ng-if="(blogSubscribeForm['Blog[Email]'].$dirty || blogSubscribeForm.$submitted) && blogSubscribeForm['Blog[Email]'].$error.pattern">
                {{ 'apps.forms.email_format_validation_message' | t }}
            </div>
            <button ng-click="displayResult()" class="btn btn--orange" type="submit">Subscribe</button>
        </form>
        <p>... or follow the events on <br />social networks</p>
        <div class="list list--socials">
            {% if article != nil %}
            {% include 'blog-socials' article: article %}
            {% else %}
            {% include 'blog-social-links' %}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">(function(o){var b="https://fastgull.io/anywhere/",t="826b5c2a62d44b678c87131c7774abef2599dcd397ae42c0a88136863a6ab76e",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
</div>
