<div class="trending __responsive">
    <div class="trending-t">Trending articles</div>
    <div class="trending-list">
        {% if settings.blog_trending_article_url_1 %}
            {% assign article = blog.articles | where: 'Url', '==', settings.blog_trending_article_url_1 | first %}
            {% assign article = article %}
            {% assign style = "single" %}
            {% include 'blog-list-item' %}
        {% endif %}
        {% if settings.blog_trending_article_url_2 %}
            {% assign article = blog.articles | where: 'Url', '==', settings.blog_trending_article_url_2 | first %}
            {% assign article = article %}
            {% assign style = "single" %}
            {% include 'blog-list-item' %}
        {% endif %}
        {% if settings.blog_trending_article_url_3 %}
            {% assign article = blog.articles | where: 'Url', '==', settings.blog_trending_article_url_3 | first %}
            {% assign article = article %}
            {% assign style = "single" %}
            {% include 'blog-list-item' %}
        {% endif %}
    </div>
</div>