<div class="section__inner">
    <img class="section__pic" src="../assets/images/casestudies/subscribe.svg" />
    <div class="form">
        <div class="form-group">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" />
            <div class="form-descr">
                By clicking «Download Case Studies» I agree to the Virto Commerce <a href="#">Terms</a> and <a href="#">Privacy</a>.
            </div>
        </div>
        <button class="btn btn--orange btn--expand">Download Case Studies</button>
    </div>
</div>
