{% assign current_node = docs_tree | where: 'path', '==', page.url | first %}
{% if current_node.parents.size > 0 %}
    <ul class="nav">
        {% for node_parent in current_node.parents %}
            <li class="nav__item">
                <a href="{{ node_parent.path }}" ng-click="navigateUrl('{{ node_parent.path }}', $event)" class="nav__link">{{ node_parent.title }}</a>
            </li>
        {% endfor %}
        <li class="nav__item">{{ page.title }}</li>
    </ul>
{% endif %}
