<footer class="footer">
    <div class="footer__inner container">
        <div class="footer__general row">
            <div class="col-lg-4">
                <div class="footer__logo">
                    Virtocommerce
                </div>
                <div class="footer__text">Here we should have a few words about what and who the company is. This should serve well for SEO purposes, so makes sure you create some content for this part too.</div>
                <div class="footer__signup">
                    <div class="label footer__text">Sign up for Virto Commerce news and updates</div>
                    <div class="form">
                        <input type="text" class="form-control form-control--round" placeholder="you@mail.com" />
                        <button class="btn btn--orange btn--round">Sign&nbsp;Up</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xl-7 ml-lg-auto">
                <div class="row">
                    <div class="footer__nav col-md-auto">
                        <div class="footer__t">Platform</div>
                        <ul class="nav nav--vertical">
                            <li class="nav__item">
                                <a href="#" class="nav__link">Glossary</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">B2B eCommerce Platform</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">ASP.NET Shopping Cart</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Business Features</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Technical Features</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__nav col-md-auto ml-md-auto">
                        <div class="footer__t">Developers</div>
                        <ul class="nav nav--vertical">
                            <li class="nav__item">
                                <a href="#" class="nav__link">Documentations</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Downloads</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Code repository</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">App store</a>
                            </li>
                            <li class="nav__item">
                                <a href="/pages/roadmap" class="nav__link">Roadmap</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Support</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Provide feedback</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__nav col-md-auto ml-md-auto">
                        <div class="footer__t">Contact us</div>
                        <ul class="nav nav--vertical">
                            <li class="nav__item">
                                <a href="#" class="nav__link">sales@virtocommerce.com</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">+1 800 980-5288</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Live chat</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__other row align-items-center">
            <div class="footer__other-text col-md-auto">
                <div class="footer__copy">Copyright &copy; 2019. All rights reserved.</div>
                <a href="#" class="footer__link">Privacy Policy</a>
            </div>
            <div class="col-md-auto ml-md-auto">
                <ul class="nav nav--socials">
                    <li class="nav__item">
                        <a href="#" class="nav__link nav__link--tw">Twitter</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link nav__link--fb">Facebook</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link nav__link--in">Linkedin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
