<footer class="footer">
    <div class="footer__inner container">
        <div class="footer__general row">
            <div class="col-lg-4">
                <div class="footer__logo">
                    Virtocommerce
                </div>
                <div class="footer__text">Virto Commerce is a .NET B2B and B2C ecommerce platform ideal for enterprise and complex ecommerce solutions.</div>
                <div class="footer__signup">
                    <div class="label footer__text">Sign up for Virto Commerce news and updates</div>
                    <div class="form">
                        <input type="text" class="form-control form-control--round" placeholder="you@mail.com" />
                        <button class="btn btn--orange btn--round">Sign&nbsp;Up</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xl-7 ml-lg-auto">
                <div class="row">
                    <div class="footer__nav col-md-auto">
                        <div class="footer__t">Platform</div>
                        <ul class="nav nav--vertical">
                            <li class="nav__item">
                                <a href="/glossary" class="nav__link">Ecommerce Education</a>
                            </li>
                            <li class="nav__item">
                                <a href="/pages/b2b-ecommerce-platform" class="nav__link">B2B eCommerce Platform</a>
                            </li>
                            <li class="nav__item">
                                <a href="/pages/hosted-shopping-cart" class="nav__link">Hosted Shopping Cart</a>
                            </li>
                            <li class="nav__item">
                                <a href="/pages/b2b-enterprise-ecommerce-platform" class="nav__link">Enterprise Ecommerce Platform</a>
                            </li>
                            <li class="nav__item">
                                <a href="/pages/become-partner" class="nav__link">Ecommerce Partnerships</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__nav col-md-auto ml-md-auto">
                        <div class="footer__t">Developers</div>
                        <ul class="nav nav--vertical">
                            <li class="nav__item">
                                <a href="/docs" class="nav__link">Documentation</a>
                            </li>
                            <li class="nav__item">
                                <a href="https://github.com/VirtoCommerce/vc-platform" target="_blank" class="nav__link">Code repository</a>
                            </li>
                            <li class="nav__item">
                                <a href="/apps" class="nav__link">App store</a>
                            </li>
                            <li class="nav__item">
                                <a href="/pages/roadmap" class="nav__link">Roadmap</a>
                            </li>
                            <li class="nav__item">
                                <a href="https://stackoverflow.com/questions/tagged/virtocommerce" target="_blank" class="nav__link">Support</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__nav col-md-auto ml-md-auto">
                        <div class="footer__t"><a href="/pages/contact-us" class="nav__link">Contact us</a></div>
                        <ul class="nav nav--vertical">
                            <li class="nav__item">
                                <a href="mailto:sales@virtocommerce.com" class="nav__link">sales@virtocommerce.com</a>
                            </li>
                            <li class="nav__item">
                                <a href="tel:+18009805288" class="nav__link">+1 800 980-5288</a>
                            </li>
                            <li class="nav__item">
                                <a href="tel:+13235705588" class="nav__link">+1 (323) 570-5588</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Live chat</a>
                            </li>
                        </ul>
                        <div class="partner">
                            <a href="https://pinpoint.microsoft.com/en-us/companies/4298254222" rel="nofollow" target="_blank">Microsoft Gold certificated Partner</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__other row align-items-center">
            <div class="footer__other-text col-md-auto">
                <div class="footer__copy">Copyright &copy; 2019. All rights reserved.</div>
                <a href="#" class="footer__link">Privacy Policy</a>
            </div>
            <div class="col-md-auto ml-md-auto">
                <ul class="nav nav--socials">
                    <li class="nav__item">
                        <a href="#" class="nav__link nav__link--tw">Twitter</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link nav__link--fb">Facebook</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link nav__link--in">Linkedin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
