<div class="cookie-bar show">
    <div class="container">
        We use cookies to provide best web experience for our users. By continuing to browse this site, you agree to this use. Read more from our <a href="/privacy">Privacy Policy</a>
        <a href="#" id="cookieConsentAccept" class="btn">Accept</a>
    </div>
</div>
