<header class="header">
    <div class="header-inner container">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-auto">
                <div class="header-logo">
                    Virtocommerce
                </div>
            </div>
            <div class="header-nav col-auto">                <ul class="nav">
                    <li class="nav__item">
                        <a class="nav__link nav__link--dropdown">Why Virto</a>
                        <div class="dropdown-menu">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="dropdown-menu__t">Digital commerce platform</div>
                                        <a class="dropdown-menu__item" href="/pages/enterprise-ecommerce-architecture">Architecture Overview</a>
                                        <a class="dropdown-menu__item" href="/pages/b2b-ecommerce-implementation">Delivery Strategy</a>
                                        <!--<a class="dropdown-menu__item" href="/404">Delivery case studies</a>-->
                                        <a class="dropdown-menu__item" href="/pages/b2b-ecommerce-implementation">Services</a>
                                        <a class="dropdown-menu__item" href="/pages/roadmap">Roadmap</a>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="dropdown-menu__t">Business Need</div>
                                        <a class="dropdown-menu__item" href="/pages/features/b2b-ecommerce-catalog-management">Catalog Management</a>
                                        <a class="dropdown-menu__item" href="/pages/features/b2b-ecommerce-marketing-tools">Marketing &amp; Promotions</a>
                                        <a class="dropdown-menu__item" href="javascript:void(0)">Pricing Tools</a>
                                        <a class="dropdown-menu__item" href="/pages/features/b2b-ecommerce-order-management">Order Management</a>
                                        <a class="dropdown-menu__item" href="/pages/features/b2b-cms">CMS</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link">Solutions</a>
                        <div class="dropdown-menu">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="dropdown-menu__t">By Business Size</div>
                                        <a class="dropdown-menu__item" href="/pages/solutions/b2b-enterprise-ecommerce-platform">Enterprise</a>
                                        <a class="dropdown-menu__item" href="/pages/solutions/b2b-midmarket-ecommerce-platform">Mid-Market</a>
                                        <a class="dropdown-menu__item" href="/pages/solutions/ecommerce-platform-small-business">Small Business – Community Edition</a>
                                        <a class="dropdown-menu__item" href="/pages/solutions/startup-ecommerce-platform">Startups</a>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="dropdown-menu__t">By Use Case</div>
                                        <a class="dropdown-menu__item" href="/pages/solutions/b2b-ecommerce-platform">B2B Solutions</a>
                                        <a class="dropdown-menu__item" href="javascript:void(0)">B2X (B2C, B2B2C, B2G)</a>
                                        <!--<a class="dropdown-menu__item" href="/404">Marketplaces</a>-->
                                        <a class="dropdown-menu__item" href="/pages/solutions/headless-ecommerce">Multi-touch User Experience</a>
                                        <a class="dropdown-menu__item" href="/pages/solutions/b2b-ecommerce-digital-transformation">Digital Transformation</a>
                                        <a class="dropdown-menu__item" href="/pages/solutions/ecommerce-whitelabel">White Label Solutions</a>
                                        <!--<a class="dropdown-menu__item" href="javascript:void(0)">Agile Platform Definition</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link">Partners</a>
                        <div class="dropdown-menu">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <a class="dropdown-menu__item" href="javascript:void(0)">Being a Partner</a>
                                        <a class="dropdown-menu__item" href="javascript:void(0)">Looking for a partnership?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link">Resources</a>
                        <div class="dropdown-menu">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="dropdown-menu__t">Education</div>
                                        <a class="dropdown-menu__item" href="javascript:void(0)">White Papers</a>
                                        <a class="dropdown-menu__item" href="javascript:void(0)">B2B Ecommerce Platform</a>
                                        <a class="dropdown-menu__item" href="javascript:void(0)">Learn about B2B ecommerce</a>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="dropdown-menu__t">Tools</div>
                                        <a class="dropdown-menu__item" href="javascript:void(0)">List of Solution Partners</a>
                                        <a class="dropdown-menu__item" href="javascript:void(0)">Appstore</a>
                                        <a class="dropdown-menu__item" href="javascript:void(0)">Stackoverflow Group</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav__item nav__item--try">
                        <a class="btn btn--orange" href="javascript:void(0)">Try virto now</a>
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                <ul class="nav">
                    <li class="nav__item nav__item--login">
                        <a class="nav__link" href="#">Sign In</a>
                        <div class="dropdown-menu"></div>
                    </li>
                </ul>
            </div>
            <a class="header-toggle"></a>        </div>
    </div>
</header>
