<header class="header">
    <div class="header-inner container">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="header-logo" cursor="pointer" onclick="window.location.href = Shopify.shop">
                    Virtocommerce
                </div>
            </div>
            <div class="header-nav col-auto ml-auto">
                <ul class="nav">
                    <li class="nav__item">
                        <a class="nav__link nav__link--dropdown">Why Virto</a>
                        <div class="dropdown-menu">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="dropdown-menu__t">Key Features</div>
                                        <a class="dropdown-menu__item" href="/404">Key Features</a>
                                        <a class="dropdown-menu__item" href="/404">Built in the Cloud</a>
                                        <a class="dropdown-menu__item" href="/404">Technology</a>
                                        <a class="dropdown-menu__item" href="/404">Headless</a>
                                        <a class="dropdown-menu__item" href="/404">Architecture Overview</a>
                                        <a class="dropdown-menu__item" href="/why-virto/delivery-strategy">Delivery Strategy</a>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="dropdown-menu__t">Technology</div>
                                        <a class="dropdown-menu__item" href="/404">Platform Roadmap</a>
                                        <a class="dropdown-menu__item" href="/404">Documentation</a>
                                        <a class="dropdown-menu__item" href="/404">Technical Excellence</a>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="dropdown-menu__t">Business Need</div>
                                        <a class="dropdown-menu__item" href="/404">For Enterprise Solution Architects</a>
                                        <a class="dropdown-menu__item" href="/404">For Developers</a>
                                        <a class="dropdown-menu__item" href="/404">For ecommerce leaders</a>
                                        <a class="dropdown-menu__item" href="/404">For CEOs</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link">Solutions</a>
                        <div class="dropdown-menu">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="dropdown-menu__t">Professional Services</div>
                                        <a class="dropdown-menu__item" href="/404">Consulting</a>
                                        <a class="dropdown-menu__item" href="/404">Training</a>
                                        <a class="dropdown-menu__item" href="/404">Support</a>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="dropdown-menu__t">Business Size</div>
                                        <a class="dropdown-menu__item" href="/solutions/b2b">B2B</a>
                                        <a class="dropdown-menu__item" href="/solutions/small-business">Small Business</a>
                                        <a class="dropdown-menu__item" href="/404">Mid Size</a>
                                        <a class="dropdown-menu__item" href="/404">B2C</a>
                                        <a class="dropdown-menu__item" href="solutions/startups">Startups</a>
                                        <a class="dropdown-menu__item" href="solutions/b2x">B2X</a>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="dropdown-menu__t">Implementation</div>
                                        <a class="dropdown-menu__item" href="/404">ESA architectural Guideline</a>
                                        <a class="dropdown-menu__item" href="/404">Technical Implementation Documents</a>
                                        <a class="dropdown-menu__item" href="/404">Technical Implementation Case Studies</a>
                                        <a class="dropdown-menu__item" href="/404">Implementation Process Overview</a>
                                        <a class="dropdown-menu__item" href="/implementation/multi-touch">Multi Touch</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link">Partners</a>
                        <div class="dropdown-menu">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <a class="dropdown-menu__item" href="/case-studies">Partnership Case Studies</a>
                                        <a class="dropdown-menu__item" href="/404">Become a Solution Partner</a>
                                        <a class="dropdown-menu__item" href="/404">View our Partners</a>
                                        <a class="dropdown-menu__item" href="/partners/being-a-partner">Being a Partner</a>
                                        <a class="dropdown-menu__item" href="/partners/looking-for-a-partnership">Looking for a partnership?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link">Community</a>
                        <div class="dropdown-menu">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="dropdown-menu__t">Applications</div>
                                        <a class="dropdown-menu__item" href="/404">Appstore</a>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="dropdown-menu__t">Learn</div>
                                        <a class="dropdown-menu__item" href="/404">List of Solution Partners</a>
                                        <a class="dropdown-menu__item" href="/404">Appstore</a>
                                        <a class="dropdown-menu__item" href="/404">Stackoverflow Group</a>
                                        <a class="dropdown-menu__item" href="/404">API</a>
                                        <a class="dropdown-menu__item" href="/404">Download Community Edition</a>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="dropdown-menu__t">Contribute</div>
                                        <a class="dropdown-menu__item" href="/404">How to contribute</a>
                                        <a class="dropdown-menu__item" href="/404">GitHub</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link">Resources</a>
                        <div class="dropdown-menu">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="dropdown-menu__t">Education</div>
                                        <a class="dropdown-menu__item" href="/404">White Papers</a>
                                        <a class="dropdown-menu__item" href="/404">B2B Ecommerce Platform</a>
                                        <a class="dropdown-menu__item" href="/404">Learn about B2B ecommerce</a>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="dropdown-menu__t">Tools</div>
                                        <a class="dropdown-menu__item" href="/404">List of Solution Partners</a>
                                        <a class="dropdown-menu__item" href="/404">Appstore</a>
                                        <a class="dropdown-menu__item" href="/404">Stackoverflow Group</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link">About Us</a>
                        <div class="dropdown-menu">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <a class="dropdown-menu__item" href="/404">Virto Leadership</a>
                                        <a class="dropdown-menu__item" href="/404">Contact Us</a>
                                        <a class="dropdown-menu__item" href="/404">Careers</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav__item nav__item--try">
                        <a class="nav__link" href="/404">Try virto now</a>
                    </li>
                    <li class="nav__item nav__item--login">
                        <a class="nav__link" href="/404">Login</a>
                    </li>
                </ul>
                <a class="header-toggle"></a>
            </div>
        </div>
    </div>
</header>
