<div class="header-inner container">
    <div class="row align-items-center">
        <div class="col-auto">
            <div class="header-logo">
                Virtocommerce
            </div>
        </div>
        <div class="header-nav col-auto ml-auto">

            {% include 'main-menu-static-new' %}

            <a href="#" class="btn btn--orange btn--outline">Login</a>
            <a href="#" class="btn btn--orange">Try virto now</a>
            <a class="header-toggle"></a>
        </div>
    </div>
</div>
