<div class="swipe">
    <div class="swipe__header">
        {% include 'search-bar' %}
        <div class="swipe__close ml-auto"></div>
    </div>
    <div class="swipe__body">
	    <div class="nav">
		    <ul class="flex-column">
			    {% for link in menu.links %}
			    <li class="nav__item">
				    <a class="nav__link" href="{{ link.url }}">
					    {{ link.title | escape }}
					    <span class="nav__carret ml-auto"></span>
				    </a>
			    </li>
			    {% endfor %}
		    </ul>
	    </div>
    </div>
</div>
