<ul class="nav">
    <li class="nav__item">
        <a href="#" class="nav__link nav__link--dropdown">Why Virto</a>
        <div class="dropdown-menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="dropdown-menu__t" href="#">Key Features</div>
                        <a class="dropdown-menu__item" href="/features/for-business-professionals">Key Features</a>
                        <a class="dropdown-menu__item" href="/our-offers/cloud-ecommerce-platform">Built in the Cloud</a>
                        <a class="dropdown-menu__item" href="/features/for-developers">Technology</a>
                        <a class="dropdown-menu__item" href="#">Headless</a>
                        <a class="dropdown-menu__item" href="#">Architecture Overview</a>
                    </div>
                    <div class="col-lg-4">
                        <div class="dropdown-menu__t">Technology</div>
                        <a class="dropdown-menu__item" href="/roadmap">Platform Roadmap</a>
                        <a class="dropdown-menu__item" href="/docs">Documentation</a>
                        <a class="dropdown-menu__item" href="#">Technical Excellence</a>
                    </div>
                    <div class="col-lg-4">
                        <div class="dropdown-menu__t">Business Need</div>
                        <a class="dropdown-menu__item" href="#">For Enterprise Solution Architects</a>
                        <a class="dropdown-menu__item" href="#">For Developers</a>
                        <a class="dropdown-menu__item" href="#">For ecommerce leaders</a>
                        <a class="dropdown-menu__item" href="#">For CEOs</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="nav__item">
        <a href="#" class="nav__link">Solutions</a>
        <div class="dropdown-menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="dropdown-menu__t">Professional Services</div>
                        <a class="dropdown-menu__item" href="/our-services/professional-services">Consulting</a>
                        <a class="dropdown-menu__item" href="/our-services/training">Training</a>
                        <a class="dropdown-menu__item" href="/support">Support</a>
                    </div>
                    <div class="col-lg-4">
                        <div class="dropdown-menu__t">Business Size</div>
                        <a class="dropdown-menu__item" href="#">B2B</a>
                        <a class="dropdown-menu__item" href="#">Mid Size</a>
                        <a class="dropdown-menu__item" href="#">B2C</a>
                    </div>
                    <div class="col-lg-4">
                        <div class="dropdown-menu__t">Implementation</div>
                        <a class="dropdown-menu__item" href="#">ESA architectural Guideline</a>
                        <a class="dropdown-menu__item" href="#">Technical Implementation Documents</a>
                        <a class="dropdown-menu__item" href="#">Technical Implementation Case Studies</a>
                        <a class="dropdown-menu__item" href="#">Implementation Process Overview</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="nav__item">
        <a href="#" class="nav__link">Partners</a>
        <div class="dropdown-menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <a class="dropdown-menu__item" href="#">Partnership Case Studies</a>
                        <a class="dropdown-menu__item" href="/partners/become-partner">Become a Solution Partner</a>
                        <a class="dropdown-menu__item" href="/partners/list-of-partners">View our Partners</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="nav__item">
        <a href="#" class="nav__link">Community</a>
        <div class="dropdown-menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="dropdown-menu__t">Applications</div>
                        <a class="dropdown-menu__item" href="/apps">Appstore</a>
                    </div>
                    <div class="col-lg-4">
                        <div class="dropdown-menu__t">Learn</div>
                        <a class="dropdown-menu__item" href="/partners/list-of-partners">List of Solution Partners</a>
                        <a class="dropdown-menu__item" href="/apps">Appstore</a>
                        <a class="dropdown-menu__item" href="http://stackoverflow.com/questions/tagged/virtocommerce" target="_blank" rel="nofollow">Stackoverflow Group</a>
                        <a class="dropdown-menu__item" href="http://admin-demo.virtocommerce.com/docs/ui/index" target="_blank" rel="nofollow">API</a>
                        <a class="dropdown-menu__item" href="/try-now">Download Community Edition</a>
                    </div>
                    <div class="col-lg-4">
                        <div class="dropdown-menu__t">Contribute</div>
                        <a class="dropdown-menu__item" href="#">How to contribute</a>
                        <a class="dropdown-menu__item" href="#">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="nav__item">
        <a href="#" class="nav__link">Resources</a>
        <div class="dropdown-menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="dropdown-menu__t">Education</div>
                        <a class="dropdown-menu__item" href="/whitepapers">White Papers</a>
                        <a class="dropdown-menu__item" href="#">B2B Ecommerce Platform</a>
                        <a class="dropdown-menu__item" href="#">Learn about B2B ecommerce</a>
                    </div>
                    <div class="col-lg-4">
                        <div class="dropdown-menu__t">Tools</div>
                        <a class="dropdown-menu__item" href="#">List of Solution Partners</a>
                        <a class="dropdown-menu__item" href="#">Appstore</a>
                        <a class="dropdown-menu__item" href="#">Stackoverflow Group</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="nav__item">
        <a href="#" class="nav__link">About Us</a>
        <div class="dropdown-menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <a class="dropdown-menu__item" href="#">Virto Leadership</a>
                        <a class="dropdown-menu__item" href="#">Contact Us</a>
                        <a class="dropdown-menu__item" href="#">Careers</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
