<div class="swipe__header">
    <div class="swipe__nav">
        <div class="swipe__nav-item swipe__nav-item--show">
            <a href="#" class="btn btn--outline btn--orange">Login</a>
        </div>
        <div class="swipe__nav-item">
            <div class="swipe__back"></div>
        </div>
    </div>
    <div class="swipe__close ml-auto"></div>
</div>
<div class="swipe__body">
    <div class="nav">
        <input class="nav__input" type="radio" name="sub-menu" id="m-1">
        <label class="nav__label" for="m-1">
            Why Virto
            <span class="nav__carret ml-auto"></span>
        </label>
        <input class="nav__input" type="radio" name="sub-menu" id="m-2">
        <label class="nav__label" for="m-2">
            Solutions
            <span class="nav__carret ml-auto"></span>
        </label>
        <input class="nav__input" type="radio" name="sub-menu" id="m-3">
        <label class="nav__label" for="m-3">
            Partners
            <span class="nav__carret ml-auto"></span>
        </label>
        <input class="nav__input" type="radio" name="sub-menu" id="m-4">
        <label class="nav__label" for="m-4">
            Community
            <span class="nav__carret ml-auto"></span>
        </label>
        <input class="nav__input" type="radio" name="sub-menu" id="m-5">
        <label class="nav__label" for="m-5">
            Resources
            <span class="nav__carret ml-auto"></span>
        </label>
        <input class="nav__input" type="radio" name="sub-menu" id="m-6">
        <label class="nav__label" for="m-6">
            About Us
            <span class="nav__carret ml-auto"></span>
        </label>

        <div class="nav__content">
            <ul class="nav flex-column">
                <li class="nav__item">
                    <div class="nav__t">Key Features</div>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/features/for-business-professionals">Key Features</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/our-offers/cloud-ecommerce-platform">Built in the Cloud</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/features/for-developers">Technology</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Headless</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Architecture Overview</a>
                </li>
                <li class="nav__item">
                    <div class="nav__t">Technology</div>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/roadmap">Platform Roadmap</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/docs">Documentation</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Technical Excellence</a>
                </li>
                <li class="nav__item">
                    <div class="nav__t">Business Need</div>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">For Enterprise Solution Architects</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">For Developers</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">For ecommerce leaders</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">For CEOs</a>
                </li>
            </ul>
        </div>
        <div class="nav__content">
            <ul class="nav flex-column">
                <li class="nav__item">
                    <div class="nav__t">Professional Services</div>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/our-services/professional-services">Consulting</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/our-services/training">Training</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/support">Support</a>
                </li>
                <li class="nav__item">
                    <div class="nav__t">Business Size</div>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">B2B</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Mid Size</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">B2C</a>
                </li>
                <li class="nav__item">
                    <div class="nav__t">Implementation</div>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">ESA architectural Guideline</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Technical Implementation Documents</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Technical Implementation Case Studies</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Implementation Process Overview</a>
                </li>
            </ul>
        </div>
        <div class="nav__content">
            <ul class="nav flex-column">
                <li class="nav__item">
                    <a class="nav__link" href="#">Partnership Case Studies</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/partners/become-partner">Become a Solution Partner</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/partners/list-of-partners">View our Partners</a>
                </li>
            </ul>
        </div>
        <div class="nav__content">
            <ul class="nav flex-column">
                <li class="nav__item">
                    <div class="nav__t">Applications</div>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/apps">Appstore</a>
                </li>
                <li class="nav__item">
                    <div class="nav__t">Learn</div>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/partners/list-of-partners">List of Solution Partners</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/apps">Appstore</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="http://stackoverflow.com/questions/tagged/virtocommerce" target="_blank" rel="nofollow">Stackoverflow Group</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="http://admin-demo.virtocommerce.com/docs/ui/index" target="_blank" rel="nofollow">API</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/try-now">Download Community Edition</a>
                </li>
                <li class="nav__item">
                    <div class="nav__t">Contribute</div>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">How to contribute</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">GitHub</a>
                </li>
            </ul>
        </div>
        <div class="nav__content">
            <ul class="nav flex-column">
                <li class="nav__item">
                    <div class="nav__t">Education</div>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/whitepapers">White Papers</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">B2B Ecommerce Platform</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Learn about B2B ecommerce</a>
                </li>
                <li class="nav__item">
                    <div class="nav__t">Tools</div>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">List of Solution Partners</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Appstore</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Stackoverflow Group</a>
                </li>
            </ul>
        </div>
        <div class="nav__content">
            <ul class="nav flex-column">
                <li class="nav__item">
                    <a class="nav__link" href="#">Virto Leadership</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Contact Us</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Careers</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="swipe__footer">
    <a href="#" class="btn btn--orange btn--expand">Try virto now</a>
</div>
