<form action="{{ '/search' | absolute_url }}" method="GET" class="form form--search col-auto d-none d-lg-block">
    <input type="text" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" autocomplete="off" class="form-control form-control--round" />
    <button class="btn btn--round btn--orange">OK</button>
</form>
