<div class="section__inner container">
    <div class="like-h2">
        {% if {{block.headline}} == undefined || {{block.headline}} == '' %}
            The open source ecommerce platform build using cutting-edge web technologies
        {% else %}
            {{block.headline}}
        {% endif %}
    </div>
    <ul class="nav nav--technology">
        <li class="nav__item">
            <img src="../assets/images/home/technologies/azure.svg" alt="" class="nav__pic" />
        </li>
        <li class="nav__item">
            <img src="../assets/images/home/technologies/net.png" alt="" class="nav__pic" />
        </li>
        <li class="nav__item">
            <img src="../assets/images/home/technologies/elastic.svg" alt="" class="nav__pic" />
        </li>
        <li class="nav__item">
            <img src="../assets/images/home/technologies/angular.svg" alt="" class="nav__pic" />
        </li>
        <li class="nav__item">
            <img src="../assets/images/home/technologies/ts.svg" alt="" class="nav__pic" />
        </li>
    </ul>
</div>