<div class="section">
    <div class="section__inner container">
        <h2 class="section__t">Enterprise ecommerce platform build using cutting-edge web technologies</h2>
        <ul class="nav nav--technology">
            <li class="nav__item">
                <img src="../assets/images/home/technologies/azure.svg" alt="" class="nav__pic" />
            </li>
            <li class="nav__item">
                <img src="../assets/images/home/technologies/net.png" alt="" class="nav__pic" />
            </li>
            <li class="nav__item">
                <img src="../assets/images/home/technologies/elastic.svg" alt="" class="nav__pic" />
            </li>
            <li class="nav__item">
                <img src="../assets/images/home/technologies/angular.svg" alt="" class="nav__pic" />
            </li>
            <li class="nav__item">
                <img src="../assets/images/home/technologies/ts.svg" alt="" class="nav__pic" />
            </li>
        </ul>
    </div>
</div>
