%no-select
{
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

%placeholder
{
    &::-webkit-input-placeholder
    {
      color: #c4c4c4;
    }

    &::-moz-placeholder
    {
      color: #c4c4c4;
    }

    &:-ms-input-placeholder
    {
      color: #c4c4c4;
    }

    &:-moz-placeholder
    {
      color: #c4c4c4;
    }
}

%max-width
{
    margin: auto;
    max-width: 72rem;
    width: 100%;
}

%ul-and-ol
{
    ul,
    ol
    {
        list-style: none;
        position: relative;

        li
        {
            flex: 0 0 1.75rem;
            font-size: 1rem;
            line-height: 1.5;
            min-height: 1.75rem;
            padding-left: 2.5rem;
            position: relative;

            &::before
            {
                background: url($tpl-img-url + 'icons/icon-list.svg') no-repeat scroll 0 0;
                content: ' ';
                height: 1.75rem;
                left: 0;
                position: absolute;
                top: 0;
                width: 1.75rem;
            }

            & ~ li
            {
                margin-top: .625rem;
            }

        }
    }

    ol
    {
        counter-reset: num;

        li
        {
            &::before
            {
                align-items: center;
                background: $orange;
                border-radius: 1.75rem;
                content: counter(num);
                counter-increment: num;
                display: flex;
                justify-content: center;
            }
        }
    }

    ul.custom
    {
        li
        {
            &::before
            {
                align-items: center;
                background: $orange;
                border-radius: 1.75rem;
                content: attr(data-name);
                display: flex;
                font-size: 1rem;
                font-weight: bold;
                justify-content: center;
            }
        }
    }

    ul.no-style
    {
        li
        {
            font-size: 1.125rem;
            padding: 0;

            &::before
            {
                display: none;
            }

            & ~ li
            {
                margin-top: 0;
            }
        }
    }
}

%max-with-text
{
    max-width: 24rem;

    @include media-breakpoint-up(xl) {
       max-width: 37.5rem;
    }
}

%font-size-text
{
    .block__note
    {
        font-size: 1.5rem;
        line-height: 1;
    }

    .block__t
    {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .block__descr
    {
        font-size: 1.125rem;
        font-weight: normal;
        line-height: 1.625rem;
    }

    @include media-breakpoint-down(md) {
        .block__t
        {
            font-size: 1.75rem;
        }

        .block__descr
        {
            font-size: 1rem;
        }
    }
}