%no-select
{
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

%placeholder
{
    &::-webkit-input-placeholder
    {
      color: #c4c4c4;
    }

    &::-moz-placeholder
    {
      color: #c4c4c4;
    }

    &:-ms-input-placeholder
    {
      color: #c4c4c4;
    }

    &:-moz-placeholder
    {
      color: #c4c4c4;
    }
}

%max-width
{
    margin: auto;
    max-width: 72rem;
    width: 100%;
}

%ul-and-ol
{
    ul,
    ol
    {
        list-style: none;
        position: relative;

        li
        {
            flex: 0 0 1.75rem;
            font-size: 1rem;
            line-height: 1.5;
            min-height: 1.75rem;
            padding-left: 2.5rem;
            position: relative;

            &::before
            {
                background: url($tpl-img-url + 'icons/icon-list.svg') no-repeat scroll 0 0;
                content: ' ';
                height: 1.75rem;
                left: 0;
                position: absolute;
                top: 0;
                width: 1.75rem;
            }

            & ~ li
            {
                margin-top: .625rem;
            }

        }
    }

    ol
    {
        counter-reset: num;

        li
        {
            &::before
            {
                align-items: center;
                background: $orange;
                border-radius: 1.75rem;
                content: counter(num);
                counter-increment: num;
                display: flex;
                justify-content: center;
            }
        }
    }

    ul.custom
    {
        li
        {
            &::before
            {
                align-items: center;
                background: $orange;
                border-radius: 1.75rem;
                content: attr(data-name);
                display: flex;
                font-size: 1rem;
                font-weight: bold;
                justify-content: center;
            }
        }
    }

    ul.no-style
    {
        li
        {
            font-size: 1.125rem;
            padding: 0;

            &::before
            {
                display: none;
            }

            & ~ li
            {
                margin-top: 0;
            }
        }
    }
}

%max-with-text
{
    max-width: 24rem;

    @include media-breakpoint-down(md) {
        max-width: 100%;
    }

    @include media-breakpoint-up(lg) {
       max-width: 37.5rem;
    }
}

%font-headings
{
    font-family: 'CircularStd', sans-serif;
}

%list-items
{
    counter-reset: list;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.25rem;

    .list__item
    {
        counter-increment: list;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
        padding: 0 1.25rem 2.5rem;
    }

    .list__img
    {
        flex: 0 0 12.5rem;
        margin-bottom: 1.25rem;
        min-height: 12.5rem;
        position: relative;
    }

    .list__pic
    {
        display: block;
        position: relative;
        width: 100%;
        z-index: 5;
    }

    .list__num,
    .list__ico
    {
        display: block;
        margin-bottom: 1.25rem;
        height: 3.125rem;
        max-width: 3.125rem;
    }

    .list__num
    {
        align-items: center;
        background-color: $white;
        border: 0.1875rem solid $orange;
        border-radius: 3.125rem;
        display: flex;
        justify-content: center;
        width: 3.125rem;

        &::after
        {
            color: $orange;
            content: counter(list);
            font-size: 1.5rem;
            font-weight: bold;
        }

        &-black
        {
            border: 0.1875rem solid $orange;

            &::after
            {
                color: $orange;
                content: counter(list);
                font-size: 1.5rem;
                font-weight: bold;
            }
        }

        &-black
        {
            border: 0.1875rem solid $black;

            &::after
            {
                color: $black;
                content: counter(list);
                font-size: 1.5rem;
                font-weight: bold;
            }
        }

        &-grey
        {
            border: 0.1875rem solid $gray-600;

            &::after
            {
                color: $gray-600;
                content: counter(list);
                font-size: 1.5rem;
                font-weight: bold;
            }
        }

        &--filled
        {
            background-color: $orange;

            &::after
            {
                color: $white;
            }
            
            &-orange
            {
                background-color: $orange;

                &::after
                {
                    color: $white;
                }
            }

            &-black
            {
                background-color: $black;
                border: .1875rem solid $black;

                &::after
                {
                    color: $white;
                }
            }

            &-grey
            {
                background-color: $gray-600;
                border: .1875rem solid $gray-600;

                &::after
                {
                    color: $white;
                }
            }
        }
    }

    .list__tags
    {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.25rem;

        &-item
        {
            align-items: center;
            background-color: $white;
            border: 1px solid #e1e1e1;
            border-radius: 0.25rem;
            display: flex;
            font-size: 1rem;
            height: 2.125rem;
            margin-bottom: 0.625rem;
            margin-right: 0.625rem;
            padding: 0 0.9375rem;

            &:last-child
            {
                margin-right: 0;
            }
        }
    }

    .list__links
    {
        align-items: center;
        display: flex;
        margin-top: 1.95rem;

        &-item
        {
            margin-right: 1rem;
        }

        @include media-breakpoint-up(xl) {
            height: 3.125rem;
            margin-left: 5rem;
        }
    }

    .list__country
    {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.875rem;

        &-img
        {
            margin-bottom: 1.25rem;

            img
            {
                display: block;
                width: 100%;
            }
        }

        &-text
        {
            font-size: 1rem;
            margin-bottom: 1.25rem;
        }
    
        @include media-breakpoint-down(xs) {
            align-items: flex-start;
            flex-direction: column;
            
            &-img
            {
                margin-bottom: 1.25rem;
            }
        }

        @include media-breakpoint-up(sm) {
            &-img
            {
                margin-right: 1.25rem;
            }
        }
    }

    .list__pos
    {
        color: #aaa;
        font-size: 1rem;
        line-height: 1rem;
    }

    &.list-items--reviews
    {
        .list__img
        {
            border-radius: 100%;
            flex: 0 0 4.375rem;
            height: 4.375rem;
            min-height: 0;
            width: 4.375rem;

            &::after
            {
                border-radius: 100%;
            }
        }

        .list__pic
        {
            border-radius: 100%;
        }

        .list__pos
        {
            margin-bottom: 1.25rem;
            margin-top: -0.625rem;
        }

        .list__company
        {
            font-size: 1rem;
            line-height: 1rem;
            font-weight: bold;
            margin-top: 1.25rem;
        }
    }

    &.list-items--cols-1
    {
        .list__item
        {
            flex-basis: auto;
            flex-grow: 1;
            max-width: 100%;
        }
    }

    &.list-items--cols-2
    {
        .list__item
        {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &.list-items--cols-4
    {
        .list__item
        {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    &.list-items--type-letters {
        .list__num::after {
            content: counter(list, lower-latin);
        }
    }

    @include media-breakpoint-down(md) {
        &.list-items--cols-4 .list__item {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @include media-breakpoint-down(sm) {
        .list__item,
        &.list-items--cols-2 .list__item,
        &.list-items--cols-4 .list__item {
            flex-basis: auto;
            flex-grow: 1;
            max-width: 100%;
        }
    }
}

%list-cards
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.25rem;

    .list__item
    {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
        padding: 0 1.25rem 2.5rem;
    }

    .list__inner
    {
        border: 1px solid #e1e1e1;
        border-radius: 0.25rem;
        padding: 1.875rem;
    }

    .list__img
    {
        margin-bottom: 1.25rem;
    }

    .list__pic
    {
        display: block;
        max-width: 100%;
    }

    .btn
    {
        font-weight: bold;
        margin-top: 1.25rem;

        @extend %font-headings;
    }

    &.list-cards--cols-2
    {
        .list__item
        {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @include media-breakpoint-up(lg)
    {
        &.list-cards--cols-3
        {
            .list__item
            {
                flex: 0 0 33.333%;
                max-width: 33.333%;
            }
        }
    }

    @include media-breakpoint-up(xl)
    {
        &.list-cards--cols-4
        {
            .list__item
            {
                flex: 0 0 25%;
                max-width: 25%;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .list__item
        {
            flex-basis: auto;
            flex-grow: 1;
            max-width: 100%;   
        }
    }
}

%list-partners
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.25rem -3.125rem;

    .list__item
    {
        margin-bottom: 3.125rem;
        padding: 0 1.25rem;
        text-align: center;
    }

    .list__img
    {
        align-items: center;
        height: 3.125rem;
        justify-content: flex-start;
        position: relative;
        
        @include media-breakpoint-down(xs)
        {
            justify-content: center;
        }
    }

    .list__pic
    {
        display: block;
        max-height: 100%;
        max-width: 100%;
        position: relative;
        z-index: 5;
    }

    &.list-partners--centered
    {
    	.list__img
    	{
    		justify-content: center;
    	}
    }

    &.list-partners--bordered
    {
    	.list__img
    	{
    		border: 1px solid $gray-200;
    		justify-content: center;
    	}
    }

    @include media-breakpoint-down(md) {
    	margin-bottom: -1.25rem;

        .list__item
        {
            margin-bottom: 1.25rem;
        }
    }

    @include media-breakpoint-down(xs) {
        .list__item
        {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    @include media-breakpoint-up(lg) {
        .list__item
        {
            // min-width: 12.5rem;
        }
    }

    @include media-breakpoint-up(xl) {
        .list__item
        {
            // flex: 0 0 20%;
            // max-width: 20%;
        }
    }
}

%list-images
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
    width: 100%;

    .list__item
    {
        flex-basis: 0;
        flex-grow: 1;
        padding: 0 1rem;
        width: 33.3333%;
    }

    .list__img
    {
        background-position: 50%;
        background-size: cover;
        height: 15rem;
        overflow: hidden;

        &--big
        {
            height: 24rem;
        }
    }

    @include media-breakpoint-down(md) {
        margin: 0;

        .list__item
        {
            flex-basis: auto;
            margin-bottom: 1rem;
            padding: 0;
            width: 100%;
        }

        .list__img
        {
            height: 20rem;
        }
    }

    & ~ .list-images
    {
        margin-top: 1rem;
    }
}
