.nav
{
    list-style: none;

    &__item
    {
        font-size: .875rem;
    }

    &__link
    {
        color: inherit;
    }

    &--vertical
    {
        flex-direction: column;

        .nav__item ~ .nav__item
        {
            margin-top: 1.125rem;
        }
    }

    &--customers
    {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
        justify-content: center;

        .nav__item
        {
            align-items: center;
            display: flex;
            padding: 0 2rem;
        }

        .nav__link
        {
            display: flex;
        }

        .nav__brand
        {
            position: relative;

            &--bosch
            {
                height: 1.875rem;
                width: 8.0625rem;

                &::after
                {
                    background-image: url(../assets/images/home/customers/bosch-gray.svg);
                }

                &::before
                {
                    background-image: url(../assets/images/home/customers/bosch.svg);
                }
            }

            &--heineken
            {
                height: 1.875rem;
                width: 10.8125rem;

                &::after
                {
                    background-image: url(../assets/images/home/customers/heineken-gray.svg);
                }

                &::before
                {
                    background-image: url(../assets/images/home/customers/heineken.svg);
                }
            }

            &--vivint
            {
                height: 1.8125rem;
                width: 6.75rem;

                &::after
                {
                    background-image: url(../assets/images/home/customers/vivint-gray.svg);
                }

                &::before
                {
                    background-image: url(../assets/images/home/customers/vivint.svg);
                }
            }

            &--volvo
            {
                height: 1.25rem;
                width: 9.0625rem;

                &::after
                {
                    background-image: url(../assets/images/home/customers/volvo-gray.svg);
                }

                &::before
                {
                    background-image: url(../assets/images/home/customers/volvo.svg);
                }
            }

            &--malt
            {
                height: 3.75rem;
                width: 7.25rem;

                &::after
                {
                    background-image: url(../assets/images/home/customers/malt-gray.svg);
                }

                &::before
                {
                    background-image: url(../assets/images/home/customers/malt.svg);
                }
            }

            &::after,
            &::before
            {
                background-size: contain;
                bottom: 0;
                content: ' ';
                height: 100%;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
            }

            &::after
            {
                z-index: 5;
            }

            &::before
            {
                opacity: 0;
            }

            &:hover::after
            {
                opacity: 0;
            }

            &:hover::before
            {
                opacity: 1;
                z-index: 10;
            }
        }
    }

    &--technology
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 6rem 0;

        .nav__item
        {
            align-items: center;
            display: flex;
            padding: 0 1.5625rem;
        }

        .nav__pic
        {
            height: 3.125rem;
            max-width: 100%;
        }
    }

    &--socials
    {
        display: flex;

        .nav__item:not(:first-child)
        {
            margin-left: .9375rem;
        }

        .nav__link
        {
            background: $black no-repeat scroll 50% 50%;
            border-radius: 2.5rem;
            display: block;
            font-size: 0;
            height: 2.5rem;
            width: 2.5rem;

            &:hover
            {
                background-color: $orange;
            }

            &--tw
            {
                background-image: url(../assets/images/icons/tw.svg);
            }

            &--fb
            {
                background-image: url(../assets/images/icons/fb.svg);
            }

            &--in
            {
                background-image: url(../assets/images/icons/in.svg);
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &--customers,
        &--technology
        {
            .nav__item:nth-child(n+2)
            {
                display: none;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &--customers
        {
            .nav__item
            {
                padding: 0 1rem;
            }
        }

        &--customers,
        &--technology
        {
            padding-bottom: 1.5rem;

            .nav__item
            {
                padding-bottom: 2.5rem;
            }
        }
    }
}
