{% layout 'plus-g-a-i-s' %}

<div class="section section--hp">
    <div class="section__inner container">
        <div class="row align-items-lg-center">
            <div class="col-lg">
                <div class="section__info">
                    <h1 class="section__t">B2B Digital Commerce for Enterprises</h1>
                    <h2 class="section__descr">Get to market faster. Solve your most complex ecommerce needs with Virto Commerce.</h2>
                    <div class="form">
                        <a href="/contact-us" class="btn btn--orange btn--round">Request a Demo</a>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <img src="../assets/images/home/bg.svg" alt="" class="section__pic" />
                <img src="../assets/images/home/bg-mobile.svg" alt="" class="section__pic section__pic--mobile" />
            </div>
        </div>
    </div>
</div>
<div class="section section--gray">
    <div class="section__inner container">
        <div class="like-h2">Business Leaders Choose Virto Commerce</div>
        <p class="section__descr--centered">
            View just a handful of the top companies that use <br />Virto Commerce to power their ecommerce</p>
        <ul class="nav nav--customers">
            <li class="nav__item">
                <a href="/case-studies/bosch" class="nav__link">
                    <span class="nav__brand nav__brand--bosch"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies" class="nav__link">
                    <span class="nav__brand nav__brand--heineken"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies" class="nav__link">
                    <span class="nav__brand nav__brand--vivint"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies" class="nav__link">
                    <span class="nav__brand nav__brand--volvo"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies/lavazza" class="nav__link">
                    <span class="nav__brand nav__brand--lavazza"></span>
                </a>
            </li>
        </ul>
        <a href="/case-studies" class="btn btn--lg">View Our Customer Showcase</a>
    </div>
</div>
<div class="section">
    <div class="section__inner container">
        <div class="like-h2">All you need in one place</div>
        <p class="section__descr--centered">
            Virto Commerce is a flexible B2B ecommerce solution<br/>that offers powerful tools for enterprise business users.</p>
        <div class="list list--columns list--centered row">
            <div class="list__item col-md-6 col-lg-3">
                <img src="../assets/images/home/benefits/catalog.svg" alt="" class="list__icon"/>
                <div class="list__t">Catalog Management</div>
                <div class="list__descr">Access sophisticated catalog management capabilities on the Virto Commerce platform, making it simple to manage even the most complex B2B product lists and detailed product information.</div>
            </div>
            <div class="list__item col-md-6 col-lg-3">
                <img src="../assets/images/home/benefits/cms.svg" alt="" class="list__icon"/>
                <div class="list__t">CMS</div>
                <div class="list__descr">Manage your store and content with the Virto Commerce powerful content management system (CMS). Virto Commerce is also integrated with many <a href="/glossary/e-commerce-cms">top CMS platforms</a>.</div>
            </div>
            <div class="list__item col-md-6 col-lg-3">
                <img src="../assets/images/home/benefits/order.svg" alt="" class="list__icon"/>
                <div class="list__t">Order Management</div>
                <div class="list__descr">Gain complete control over order management with industry-leading features from Virto Commerce. Easily integrate the features into complex enterprise workflows -- including many leading ERP and fulfillment systems.</div>
            </div>
            <div class="list__item col-md-6 col-lg-3">
                <img src="../assets/images/home/benefits/coin.svg" alt="" class="list__icon" />
                <div class="list__t">Complex pricing</div>
                <div class="list__descr">Manage pricing logic, establish complex pricing, and customize contracts with the flexibility available in Virto Commerce.</div>
            </div>
        </div>
        <div class="list__actions">
            <a href="#" class="list__actions-control list__actions-control--prev"></a>
            <a href="#" class="list__actions-control list__actions-control--next"></a>
        </div>
    </div>
</div>
<div class="section section--gray">
    <div class="section__inner container">
        <div class="like-h2">Your Long - Term Digital Commerce Partner</div>
        <p class="section__descr">Virto Commerce is more than just software – When you use it, you have support from our Virto team of experts, community, and partners worldwide and suite of value added services to ensure your solution is a success.</p>
        <div class="list list--columns list--centered row">
            <div class="list__item col-md-6 col-lg-4">
            <img src="../assets/images/home/benefits/partners.svg" alt="" class="list__icon" />
                <div class="list__t">Partners</div>
                <div class="list__descr">Worldwide network of certified implementation partners to fit every project.</div>
                <a href="/find-implementation-partner" class="list__link">Learn more</a>
                </div>
            <div class="list__item col-md-6 col-lg-4">
            <img src="../assets/images/home/benefits/solution.svg" alt="" class="list__icon" />
                <div class="list__t">Expert Services</div>
                <div class="list__descr">Virto Commerce experts are at your disposal - offering unique digital commerce knowledge.</div>
                <a href="/b2b-ecommerce-services" class="list__link">Learn more</a>
            </div>
            <div class="list__item col-md-6 col-lg-4">
                <img src="../assets/images/home/benefits/community.svg" alt="" class="list__icon" />
                <div class="list__t">Community & App Store</div>
                <div class="list__descr">Explore our growing App Store of extensions and themes to customize your solution.</div>
                <a href="/apps" class="list__link">Learn more</a>
            </div>
        </div>
        <div class="list__actions">
            <a href="#" class="list__actions-control list__actions-control--prev"></a>
            <a href="#" class="list__actions-control list__actions-control--next"></a>
        </div>
    </div>
</div>
{% include 'technologies' %}
{% comment %}
<div class="section">
    <div class="section__inner container">
        <div class="like-h2">Be inspired! Check out some leading sites that are powered by Virto Commerce.</div>
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel__container carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 h-100" src="../assets/images/home/carousel/bosch.png" />
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 h-100" src="../assets/images/home/carousel/estatespain.png" />
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 h-100" src="../assets/images/home/carousel/kupinatao.png" />
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <a class="carousel__control carousel__control--prev" href="#carousel" role="button" data-slide="prev"></a>
            <a class="carousel__control carousel__control--next" href="#carousel" role="button" data-slide="next"></a>
        </div>
    </div>
</div>
{% endcomment %}
<div class="section section--gray section--pattern">
    <div class="section__inner container">
        <div class="like-h2">See how Virto Commerce can lead your digital transformation</div>
        <a href="/contact-us" class="btn btn--orange btn--lg">GET STARTED</a>
    </div>
</div>
