<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!-- Useful meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="robots" content="index, follow, noodp">
        <meta name="googlebot" content="index, follow">
        <meta name="google" content="notranslate">
        <meta name="format-detection" content="telephone=no">

        <title>Virtoccomerce / Apps</title>


        <link rel="stylesheet" href="../../theme/assets/css/bundles/style.min.css">
    </head>
    <body>

        <div id="layout">

            <!-- Swipe -->
            <div class="swipe">
                <div class="swipe__header">
                    <form class="form--search">
                        <input placeholder="Search" type="text" class="form-control form-control--round">
                        <button class="btn btn--orange btn--round">OK</button>
                    </form>
                    <div class="swipe__close ml-auto"></div>
                </div>
                <div class="swipe__body">
                    <div class="nav">
                        <ul class="flex-column">
                            <li class="nav__item">
                                <a class="nav__link" href="#">
                                    Solutions
                                    <span class="nav__carret ml-auto"></span>
                                </a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#">
                                    Extensions
                                    <span class="nav__carret ml-auto"></span>
                                </a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#">
                                    Themes
                                    <span class="nav__carret ml-auto"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Swipe -->

            <!-- Header -->
            <header class="header">
                <div class="header-inner container">
                    <div class="row align-items-center justify-content-lg-between">
                        <div class="col-auto">
                            <div class="header-logo header-logo--apps">
                                Virtocommerce
                            </div>
                        </div>
                        <div class="header-nav col-auto d-none d-lg-block">
                            <ul class="nav">
                                <li class="nav__item">
                                    <a class="nav__link" href="#">
                                        Solutions
                                        <span class="nav__carret ml-auto"></span>
                                    </a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">
                                        Extensions
                                        <span class="nav__carret ml-auto"></span>
                                    </a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">
                                        Themes
                                        <span class="nav__carret ml-auto"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col col-md-auto">
                            <form class="form--search">
                                <input placeholder="Search" type="text" class="form-control form-control--round">
                                <button class="btn btn--orange btn--round">OK</button>
                            </form>
                        </div>
                        <a class="header-toggle"></a>
                    </div>
                </div>
            </header>
            <!-- End Header -->

            <!-- Main -->
            <div class="main">
                <div class="apps">
                    <div class="apps__info">
                        <div class="apps__info-inner">
                            <div class="apps__info-icon"></div>
                            <div class="apps__info-descr">
                                Virto commerce’s growing appstore of products and services help merchants do even more with their online stores. have a virto commerce extension, solution or theme ready? please submit one using form below.
                            </div>
                            <a href="#" class="btn btn--red btn--lg btn--round">Submit an Extension</a>
                        </div>
                    </div>
                    <div class="container">
                        <div class="apps__items">
                            <div class="apps__items-t">
                                <h2>New Extensions</h2>
                                <a class="ml-sm-auto" href="#">View all</a>
                            </div>
                            <div class="list list--cards row">
                                <div class="list__item">
                                    <a class="list__inner" href="#">
                                        <div class="list__watermark">
                                            <svg xmlns="http://www.w3.org/2000/svg">
                                                <defs>
                                                    <filter id="blur">
                                                        <feGaussianBlur stdDeviation="50"></feGaussianBlur>
                                                    </filter>
                                                </defs>
                                                <image width="400" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" filter="url(/apps#blur)"></image>
                                            </svg>
                                        </div>
                                        <div class="list__bg">
                                            <img src="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" alt="" class="list__pic">
                                        </div>
                                        <h3 class="list__t">Marketo Integration module</h3>
                                        <div class="list__vendor">By Virto Commerce</div>
                                        <div class="list__descr">
                                            Attract more buyers, nurture leads, identify opportunities and deliver sales orders with Marketo integration.
                                        </div>
                                        <div class="list__price">Free</div>
                                    </a>
                                </div>
                                <div class="list__item">
                                    <a class="list__inner" href="#">
                                        <div class="list__watermark">
                                            <svg xmlns="http://www.w3.org/2000/svg">
                                                <defs>
                                                    <filter id="blur">
                                                        <feGaussianBlur stdDeviation="50"></feGaussianBlur>
                                                    </filter>
                                                </defs>
                                                <image width="400" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" filter="url(/apps#blur)"></image>
                                            </svg>
                                        </div>
                                        <div class="list__bg">
                                            <img src="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" alt="" class="list__pic">
                                        </div>
                                        <h3 class="list__t">Marketo Integration module</h3>
                                        <div class="list__vendor">By Virto Commerce</div>
                                        <div class="list__descr">
                                            Attract more buyers, nurture leads, identify opportunities and deliver sales orders with Marketo integration.
                                        </div>
                                        <div class="list__price">Free</div>
                                    </a>
                                </div>
                                <div class="list__item">
                                    <a class="list__inner" href="#">
                                        <div class="list__watermark">
                                            <svg xmlns="http://www.w3.org/2000/svg">
                                                <defs>
                                                    <filter id="blur">
                                                        <feGaussianBlur stdDeviation="50"></feGaussianBlur>
                                                    </filter>
                                                </defs>
                                                <image width="400" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" filter="url(/apps#blur)"></image>
                                            </svg>
                                        </div>
                                        <div class="list__bg">
                                            <img src="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" alt="" class="list__pic">
                                        </div>
                                        <h3 class="list__t">Marketo Integration module</h3>
                                        <div class="list__vendor">By Virto Commerce</div>
                                        <div class="list__descr">
                                            Attract more buyers, nurture leads, identify opportunities and deliver sales orders with Marketo integration.
                                        </div>
                                        <div class="list__price">Free</div>
                                    </a>
                                </div>
                                <div class="list__item">
                                    <a class="list__inner" href="#">
                                        <div class="list__watermark">
                                            <svg xmlns="http://www.w3.org/2000/svg">
                                                <defs>
                                                    <filter id="blur">
                                                        <feGaussianBlur stdDeviation="50"></feGaussianBlur>
                                                    </filter>
                                                </defs>
                                                <image width="400" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" filter="url(/apps#blur)"></image>
                                            </svg>
                                        </div>
                                        <div class="list__bg">
                                            <img src="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" alt="" class="list__pic">
                                        </div>
                                        <h3 class="list__t">Marketo Integration module</h3>
                                        <div class="list__vendor">By Virto Commerce</div>
                                        <div class="list__descr">
                                            Attract more buyers, nurture leads, identify opportunities and deliver sales orders with Marketo integration.
                                        </div>
                                        <div class="list__price">Free</div>
                                    </a>
                                </div>
                                <div class="list__item">
                                    <a class="list__inner" href="#">
                                        <div class="list__watermark">
                                            <svg xmlns="http://www.w3.org/2000/svg">
                                                <defs>
                                                    <filter id="blur">
                                                        <feGaussianBlur stdDeviation="50"></feGaussianBlur>
                                                    </filter>
                                                </defs>
                                                <image width="400" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" filter="url(/apps#blur)"></image>
                                            </svg>
                                        </div>
                                        <div class="list__bg">
                                            <img src="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" alt="" class="list__pic">
                                        </div>
                                        <h3 class="list__t">Marketo Integration module</h3>
                                        <div class="list__vendor">By Virto Commerce</div>
                                        <div class="list__descr">
                                            Attract more buyers, nurture leads, identify opportunities and deliver sales orders with Marketo integration.
                                        </div>
                                        <div class="list__price">Free</div>
                                    </a>
                                </div>
                            </div>
                            <div class="apps__items-t">
                                <h2>Featured</h2>
                                <a class="ml-sm-auto" href="#">View all</a>
                            </div>
                            <div class="list list--cards row">
                                <div class="list__item">
                                    <a class="list__inner" href="#">
                                        <div class="list__watermark">
                                            <svg xmlns="http://www.w3.org/2000/svg">
                                                <defs>
                                                    <filter id="blur">
                                                        <feGaussianBlur stdDeviation="50"></feGaussianBlur>
                                                    </filter>
                                                </defs>
                                                <image width="400" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" filter="url(/apps#blur)"></image>
                                            </svg>
                                        </div>
                                        <div class="list__bg">
                                            <img src="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" alt="" class="list__pic">
                                        </div>
                                        <h3 class="list__t">Marketo Integration module</h3>
                                        <div class="list__vendor">By Virto Commerce</div>
                                        <div class="list__descr">
                                            Attract more buyers, nurture leads, identify opportunities and deliver sales orders with Marketo integration.
                                        </div>
                                        <div class="list__price">Free</div>
                                    </a>
                                </div>
                                <div class="list__item">
                                    <a class="list__inner" href="#">
                                        <div class="list__watermark">
                                            <svg xmlns="http://www.w3.org/2000/svg">
                                                <defs>
                                                    <filter id="blur">
                                                        <feGaussianBlur stdDeviation="50"></feGaussianBlur>
                                                    </filter>
                                                </defs>
                                                <image width="400" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" filter="url(/apps#blur)"></image>
                                            </svg>
                                        </div>
                                        <div class="list__bg">
                                            <img src="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" alt="" class="list__pic">
                                        </div>
                                        <h3 class="list__t">Marketo Integration module</h3>
                                        <div class="list__vendor">By Virto Commerce</div>
                                        <div class="list__descr">
                                            Attract more buyers, nurture leads, identify opportunities and deliver sales orders with Marketo integration.
                                        </div>
                                        <div class="list__price">Free</div>
                                    </a>
                                </div>
                                <div class="list__item">
                                    <a class="list__inner" href="#">
                                        <div class="list__watermark">
                                            <svg xmlns="http://www.w3.org/2000/svg">
                                                <defs>
                                                    <filter id="blur">
                                                        <feGaussianBlur stdDeviation="50"></feGaussianBlur>
                                                    </filter>
                                                </defs>
                                                <image width="400" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" filter="url(/apps#blur)"></image>
                                            </svg>
                                        </div>
                                        <div class="list__bg">
                                            <img src="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" alt="" class="list__pic">
                                        </div>
                                        <h3 class="list__t">Marketo Integration module</h3>
                                        <div class="list__vendor">By Virto Commerce</div>
                                        <div class="list__descr">
                                            Attract more buyers, nurture leads, identify opportunities and deliver sales orders with Marketo integration.
                                        </div>
                                        <div class="list__price">Free</div>
                                    </a>
                                </div>
                                <div class="list__item">
                                    <a class="list__inner" href="#">
                                        <div class="list__watermark">
                                            <svg xmlns="http://www.w3.org/2000/svg">
                                                <defs>
                                                    <filter id="blur">
                                                        <feGaussianBlur stdDeviation="50"></feGaussianBlur>
                                                    </filter>
                                                </defs>
                                                <image width="400" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" filter="url(/apps#blur)"></image>
                                            </svg>
                                        </div>
                                        <div class="list__bg">
                                            <img src="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" alt="" class="list__pic">
                                        </div>
                                        <h3 class="list__t">Marketo Integration module</h3>
                                        <div class="list__vendor">By Virto Commerce</div>
                                        <div class="list__descr">
                                            Attract more buyers, nurture leads, identify opportunities and deliver sales orders with Marketo integration.
                                        </div>
                                        <div class="list__price">Free</div>
                                    </a>
                                </div>
                                <div class="list__item">
                                    <a class="list__inner" href="#">
                                        <div class="list__watermark">
                                            <svg xmlns="http://www.w3.org/2000/svg">
                                                <defs>
                                                    <filter id="blur">
                                                        <feGaussianBlur stdDeviation="50"></feGaussianBlur>
                                                    </filter>
                                                </defs>
                                                <image width="400" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" filter="url(/apps#blur)"></image>
                                            </svg>
                                        </div>
                                        <div class="list__bg">
                                            <img src="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" alt="" class="list__pic">
                                        </div>
                                        <h3 class="list__t">Marketo Integration module</h3>
                                        <div class="list__vendor">By Virto Commerce</div>
                                        <div class="list__descr">
                                            Attract more buyers, nurture leads, identify opportunities and deliver sales orders with Marketo integration.
                                        </div>
                                        <div class="list__price">Free</div>
                                    </a>
                                </div>
                            </div>

                            <!-- Pagination -->
                            <div class="list list--paging">
                                <a href="#" class="list__item list__item--prev">Prev</a>
                                <a href="#" class="list__item">1</a>
                                <a href="#" class="list__item">2</a>
                                <a href="#" class="list__item">3</a>
                                <a href="#" class="list__item list__item--next">Next</a>
                            </div>
                            <!-- End Pagination -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Main -->

            <!-- Footer -->
            <footer class="footer">
                <div class="footer__inner container">
                    <div class="footer__general row">
                        <div class="col-lg-4">
                            <div class="footer__logo">
                                Virtocommerce
                            </div>
                            <div class="footer__text">Here we should have a few words about what and who the company is. This should serve well for SEO purposes, so makes sure you create some content for this part too.</div>
                        </div>
                        <div class="col-lg-8 col-xl-7 ml-lg-auto">
                            <div class="row">
                                <div class="footer__nav col-md-auto">
                                    <div class="footer__t">Platform</div>
                                    <ul class="nav nav--vertical">
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Glossary</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">B2B eCommerce Platform</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">ASP.NET Shopping Cart</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Business Features</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Technical Features</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer__nav col-md-auto ml-md-auto">
                                    <div class="footer__t">Developers</div>
                                    <ul class="nav nav--vertical">
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Documentations</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Downloads</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Code repository</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">App store</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Roadmap</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Support</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Provide feedback</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer__nav col-md-auto ml-md-auto">
                                    <div class="footer__t">Contact us</div>
                                    <ul class="nav nav--vertical">
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">hellow@virtocommerce.com</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">+1 800 980-5288</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Live chat</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer__other row align-items-center">
                        <div class="footer__other-text col-md-auto">
                            <div class="footer__copy">Copyright &copy; 2018. All rights reserved.</div>
                            <a href="#" class="footer__link">Privacy Policy</a>
                        </div>
                        <div class="col-md-auto ml-md-auto">
                            <ul class="nav nav--socials">
                                <li class="nav__item">
                                    <a href="#" class="nav__link nav__link--tw">Twitter</a>
                                </li>
                                <li class="nav__item">
                                    <a href="#" class="nav__link nav__link--fb">Facebook</a>
                                </li>
                                <li class="nav__item">
                                    <a href="#" class="nav__link nav__link--in">Linkedin</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->

        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="../build/assets/js/main.js"></script>

    </body>
</html>
