<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!-- Useful meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="robots" content="index, follow, noodp">
        <meta name="googlebot" content="index, follow">
        <meta name="google" content="notranslate">
        <meta name="format-detection" content="telephone=no">

        <title>Virtoccomerce / Apps detail</title>


        <link rel="stylesheet" href="../../theme/assets/css/bundles/style.min.css">
    </head>
    <body class="modal-open">

        <div class="modal-overlay fade"></div>
        <div class="modal">
            <div class="modal-dialog modal-dialog--centered">
                <div class="modal-content">
                    <div class="modal-header">
                        Write a review
                        <a class="modal-close">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19">
                                <path class="fill" fill-rule="evenodd" d="M10.914 9.5l7.793-7.793A.999.999 0 1 0 17.293.293L9.5 8.086 1.707.293A.999.999 0 1 0 .293 1.707L8.086 9.5.293 17.293a.999.999 0 1 0 1.414 1.414L9.5 10.914l7.793 7.793a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L10.914 9.5z"/>
                            </svg>

                        </a>
                    </div>
                    <div class="modal-body">
                        <div class="rating">
                            <div class="rating__t">Please select rating</div>
                            <div class="list list--rating">
                                <input class="list__input" type="checkbox" name="stars" id="s-1">
                                <label class="list__item" for="s-1"></label>
                                <input class="list__input" type="checkbox" name="stars" id="s-2">
                                <label class="list__item" for="s-2"></label>
                                <input class="list__input" type="checkbox" name="stars" id="s-3">
                                <label class="list__item" for="s-3"></label>
                                <input class="list__input" type="checkbox" name="stars" id="s-4">
                                <label class="list__item" for="s-4"></label>
                                <input class="list__input" type="checkbox" name="stars" id="s-5">
                                <label class="list__item" for="s-5"></label>
                            </div>
                            <div class="rating__eval rating__eval--active" data-name="Bad">Bad</div>
                            <div class="rating__eval" data-name="Not bad">Not bad</div>
                            <div class="rating__eval" data-name="Normal">Normal</div>
                            <div class="rating__eval" data-name="Good">Good</div>
                            <div class="rating__eval" data-name="Nice">Nice</div>
                        </div>
                        <form>
                            <div class="form-group">
                                <label class="form-label">Your email</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Your full name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Your comment</label>
                                <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                            <div class="form-actions">
                                <a href="#" class="btn btn--orange">Submit</a>
                                <a href="#">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="layout">

            <!-- Swipe -->
            <div class="swipe">
                <div class="swipe__header">
                    <form class="form--search">
                        <input placeholder="Search" type="text" class="form-control form-control--round">
                        <button class="btn btn--orange btn--round">OK</button>
                    </form>
                    <div class="swipe__close ml-auto"></div>
                </div>
                <div class="swipe__body">
                    <div class="nav">
                        <ul class="flex-column">
                            <li class="nav__item">
                                <a class="nav__link" href="#">
                                    Solutions
                                    <span class="nav__carret ml-auto"></span>
                                </a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#">
                                    Extensions
                                    <span class="nav__carret ml-auto"></span>
                                </a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#">
                                    Themes
                                    <span class="nav__carret ml-auto"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Swipe -->

            <!-- Header -->
            <header class="header">
                <div class="header-inner container">
                    <div class="row align-items-center justify-content-lg-between">
                        <div class="col-auto">
                            <div class="header-logo header-logo--apps">
                                Virtocommerce
                            </div>
                        </div>
                        <div class="header-nav col-auto d-none d-lg-block">
                            <ul class="nav">
                                <li class="nav__item">
                                    <a class="nav__link" href="#">
                                        Solutions
                                        <span class="nav__carret ml-auto"></span>
                                    </a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">
                                        Extensions
                                        <span class="nav__carret ml-auto"></span>
                                    </a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">
                                        Themes
                                        <span class="nav__carret ml-auto"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col col-md-auto">
                            <form class="form--search">
                                <input placeholder="Search" type="text" class="form-control form-control--round">
                                <button class="btn btn--orange btn--round">OK</button>
                            </form>
                        </div>
                        <a class="header-toggle"></a>
                    </div>
                </div>
            </header>
            <!-- End Header -->

            <!-- Main -->
            <div class="main">
                <div class="apps container">
                    <div class="list list--breadcrumb">
                        <div class="list__item">
                            <a href="#" class="list__link">Home</a>
                        </div>
                        <div class="list__item">
                            <a href="#" class="list__link">Appstore</a>
                        </div>
                        <div class="list__item">Extensions</div>
                    </div>
                    <div class="apps__detail row">
                        <div class="col-md-auto">
                            <div class="apps__detail-item">
                                <img src="https://vc4prod.blob.core.windows.net/catalog/FHQ-67784017/NewLogo.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="apps__detail-info row">
                                <div class="apps__detail-general col-lg">
                                    <div class="apps__detail-t">Marketo integration module</div>
                                    <a class="apps__detail-link apps__detail-link--review" href="#">Write a Review</a>
                                    <div class="apps__detail-descr">Attract more buyers, nurture leads, identify opportunities and deliver sales orders with Marketo integration.</div>
                                    <div class="apps__detail-actions">
                                        <a href="#" class="btn btn--orange">Project</a>
                                    </div>
                                </div>
                                <div class="apps__detail-other col-lg-auto">
                                    <div class="apps__detail-author">
                                        <img src="../../theme/assets/images/redesign/logo-mobile.svg" alt="">
                                        <a class="apps__detail-link" href="#">Virto Commerce</a>
                                        <a class="apps__detail-link apps__detail-link--gray" href="#">Contact the developer</a>
                                    </div>
                                    <div class="apps__detail-socials">
                                        <h2>Share</h2>
                                        <ul class="nav nav--socials">
                                            <li class="nav__item">
                                                <a href="#" class="nav__link nav__link--tw"></a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="#" class="nav__link nav__link--fb"></a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="#" class="nav__link nav__link--in"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs">
                        <input class="tabs__input" type="radio" name="tabs" id="tab-1" checked>
                        <label for="tab-1" class="tabs__item">Tab 1</label>
                        <input class="tabs__input" type="radio" name="tabs" id="tab-2">
                        <label for="tab-2" class="tabs__item">Tab 2</label>

                        <div class="tabs__content">
                            Marketo is the leading marketing automation platform for all business sizes. It allows you to attract buyers, nurture leads, identify opportunities and deliver sales orders. Sell more to existing customers with Marketo's account-based marketing tools, improve lead quality with nurturing & scoring and help your sales win by focusing sales conversations. Build long-term relationships with the customers using email automation tools and grow LTV seamlessly across all marketing channels.
                        </div>
                        <div class="tabs__content"></div>
                    </div>
                </div>
            </div>
            <!-- End Main -->

            <!-- Footer -->
            <footer class="footer">
                <div class="footer__inner container">
                    <div class="footer__general row">
                        <div class="col-lg-4">
                            <div class="footer__logo">
                                Virtocommerce
                            </div>
                            <div class="footer__text">Here we should have a few words about what and who the company is. This should serve well for SEO purposes, so makes sure you create some content for this part too.</div>
                        </div>
                        <div class="col-lg-8 col-xl-7 ml-lg-auto">
                            <div class="row">
                                <div class="footer__nav col-md-auto">
                                    <div class="footer__t">Platform</div>
                                    <ul class="nav nav--vertical">
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Glossary</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">B2B eCommerce Platform</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">ASP.NET Shopping Cart</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Business Features</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Technical Features</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer__nav col-md-auto ml-md-auto">
                                    <div class="footer__t">Developers</div>
                                    <ul class="nav nav--vertical">
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Documentations</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Downloads</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Code repository</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">App store</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Roadmap</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Support</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Provide feedback</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer__nav col-md-auto ml-md-auto">
                                    <div class="footer__t">Contact us</div>
                                    <ul class="nav nav--vertical">
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">hellow@virtocommerce.com</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">+1 800 980-5288</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Live chat</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer__other row align-items-center">
                        <div class="footer__other-text col-md-auto">
                            <div class="footer__copy">Copyright &copy; 2018. All rights reserved.</div>
                            <a href="#" class="footer__link">Privacy Policy</a>
                        </div>
                        <div class="col-md-auto ml-md-auto">
                            <ul class="nav nav--socials">
                                <li class="nav__item">
                                    <a href="#" class="nav__link nav__link--tw">Twitter</a>
                                </li>
                                <li class="nav__item">
                                    <a href="#" class="nav__link nav__link--fb">Facebook</a>
                                </li>
                                <li class="nav__item">
                                    <a href="#" class="nav__link nav__link--in">Linkedin</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->

        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="../build/assets/js/main.js"></script>

    </body>
</html>
