<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!-- Useful meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="robots" content="index, follow, noodp">
        <meta name="googlebot" content="index, follow">
        <meta name="google" content="notranslate">
        <meta name="format-detection" content="telephone=no">

        <title>Virtoccomerce / B2B Ecommerce Digital Transformation</title>

        <link rel="stylesheet" href="../../theme/assets/css/bundles/style.min.css">
    </head>
    <body>

        <div id="layout">

            <!-- Swipe -->
            <div class="swipe">
                <div class="swipe__header">
                    <div class="swipe__nav">
                        <div class="swipe__nav-item swipe__nav-item--show">
                            <a class="swipe__nav-link" href="#">Login</a>
                        </div>
                        <div class="swipe__nav-item">
                            <div class="swipe__back"></div>
                        </div>
                    </div>
                    <div class="swipe__close ml-auto"></div>
                </div>
                <div class="swipe__body">
                    <div class="nav">
                        <ul class="flex-column">
                            <li class="nav__item">
                                <a class="nav__link">
                                    Why Virto
                                    <span class="nav__carret ml-auto"></span>
                                </a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link">
                                    Solutions
                                    <span class="nav__carret ml-auto"></span>
                                </a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link">
                                    Partners
                                    <span class="nav__carret ml-auto"></span>
                                </a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link">
                                    Community
                                    <span class="nav__carret ml-auto"></span>
                                </a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link">
                                    Resources
                                    <span class="nav__carret ml-auto"></span>
                                </a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link">
                                    About Us
                                    <span class="nav__carret ml-auto"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="nav__content">
                            <ul class="nav flex-column">
                                <li class="nav__item">
                                    <div class="nav__t">Key Features</div>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Key Features</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Built in the Cloud</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Technology</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Headless</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Architecture Overview</a>
                                </li>
                                <li class="nav__item">
                                    <div class="nav__t">Technology</div>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Platform Roadmap</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Documentation</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Technical Excellence</a>
                                </li>
                                <li class="nav__item">
                                    <div class="nav__t">Business Need</div>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">For Enterprise Solution Architects</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">For Developers</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">For ecommerce leaders</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">For CEOs</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav__content">
                            <ul class="nav flex-column">
                                <li class="nav__item">
                                    <div class="nav__t">Professional Services</div>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Consulting</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Training</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Support</a>
                                </li>
                                <li class="nav__item">
                                    <div class="nav__t">Business Size</div>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">B2B</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Mid Size</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">B2C</a>
                                </li>
                                <li class="nav__item">
                                    <div class="nav__t">Implementation</div>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">ESA architectural Guideline</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Technical Implementation Documents</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Technical Implementation Case Studies</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Implementation Process Overview</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav__content">
                            <ul class="nav flex-column">
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Partnership Case Studies</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Become a Solution Partner</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">View our Partners</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav__content">
                            <ul class="nav flex-column">
                                <li class="nav__item">
                                    <div class="nav__t">Applications</div>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Appstore</a>
                                </li>
                                <li class="nav__item">
                                    <div class="nav__t">Learn</div>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">List of Solution Partners</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Appstore</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Stackoverflow Group</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">API</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Download Community Edition</a>
                                </li>
                                <li class="nav__item">
                                    <div class="nav__t">Contribute</div>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">How to contribute</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">GitHub</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav__content">
                            <ul class="nav flex-column">
                                <li class="nav__item">
                                    <div class="nav__t">Education</div>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">White Papers</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">B2B Ecommerce Platform</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Learn about B2B ecommerce</a>
                                </li>
                                <li class="nav__item">
                                    <div class="nav__t">Tools</div>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">List of Solution Partners</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Appstore</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Stackoverflow Group</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav__content">
                            <ul class="nav flex-column">
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Virto Leadership</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Contact Us</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="swipe__footer">
                    <a href="#" class="btn btn--orange btn--expand btn--round">Try virto now</a>
                </div>
            </div>
            <!-- End Swipe -->

            <!-- Header -->
            <header class="header">
                <div class="header-inner container">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="header-logo">
                                Virtocommerce
                            </div>
                        </div>
                        <div class="header-nav col-auto ml-auto">
                            <ul class="nav">
                                <li class="nav__item">
                                    <a href="#" class="nav__link nav__link--dropdown">Why Virto</a>
                                    <div class="dropdown-menu">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="dropdown-menu__t" href="#">Key Features</div>
                                                    <a class="dropdown-menu__item" href="#">Key Features</a>
                                                    <a class="dropdown-menu__item" href="#">Built in the Cloud</a>
                                                    <a class="dropdown-menu__item" href="#">Technology</a>
                                                    <a class="dropdown-menu__item" href="#">Headless</a>
                                                    <a class="dropdown-menu__item" href="#">Architecture Overview</a>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="dropdown-menu__t">Technology</div>
                                                    <a class="dropdown-menu__item" href="#">Platform Roadmap</a>
                                                    <a class="dropdown-menu__item" href="#">Documentation</a>
                                                    <a class="dropdown-menu__item" href="#">Technical Excellence</a>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="dropdown-menu__t">Business Need</div>
                                                    <a class="dropdown-menu__item" href="#">For Enterprise Solution Architects</a>
                                                    <a class="dropdown-menu__item" href="#">For Developers</a>
                                                    <a class="dropdown-menu__item" href="#">For ecommerce leaders</a>
                                                    <a class="dropdown-menu__item" href="#">For CEOs</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav__item">
                                    <a href="#" class="nav__link">Solutions</a>
                                    <div class="dropdown-menu">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="dropdown-menu__t">Professional Services</div>
                                                    <a class="dropdown-menu__item" href="#">Consulting</a>
                                                    <a class="dropdown-menu__item" href="#">Training</a>
                                                    <a class="dropdown-menu__item" href="#">Support</a>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="dropdown-menu__t">Business Size</div>
                                                    <a class="dropdown-menu__item" href="#">B2B</a>
                                                    <a class="dropdown-menu__item" href="#">Mid Size</a>
                                                    <a class="dropdown-menu__item" href="#">B2C</a>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="dropdown-menu__t">Implementation</div>
                                                    <a class="dropdown-menu__item" href="#">ESA architectural Guideline</a>
                                                    <a class="dropdown-menu__item" href="#">Technical Implementation Documents</a>
                                                    <a class="dropdown-menu__item" href="#">Technical Implementation Case Studies</a>
                                                    <a class="dropdown-menu__item" href="#">Implementation Process Overview</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav__item">
                                    <a href="#" class="nav__link">Partners</a>
                                    <div class="dropdown-menu">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <a class="dropdown-menu__item" href="#">Partnership Case Studies</a>
                                                    <a class="dropdown-menu__item" href="#">Become a Solution Partner</a>
                                                    <a class="dropdown-menu__item" href="#">View our Partners</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav__item">
                                    <a href="#" class="nav__link">Community</a>
                                    <div class="dropdown-menu">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="dropdown-menu__t">Applications</div>
                                                    <a class="dropdown-menu__item" href="#">Appstore</a>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="dropdown-menu__t">Learn</div>
                                                    <a class="dropdown-menu__item" href="#">List of Solution Partners</a>
                                                    <a class="dropdown-menu__item" href="#">Appstore</a>
                                                    <a class="dropdown-menu__item" href="#">Stackoverflow Group</a>
                                                    <a class="dropdown-menu__item" href="#">API</a>
                                                    <a class="dropdown-menu__item" href="#">Download Community Edition</a>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="dropdown-menu__t">Contribute</div>
                                                    <a class="dropdown-menu__item" href="#">How to contribute</a>
                                                    <a class="dropdown-menu__item" href="#">GitHub</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav__item">
                                    <a href="#" class="nav__link">Resources</a>
                                    <div class="dropdown-menu">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="dropdown-menu__t">Education</div>
                                                    <a class="dropdown-menu__item" href="#">White Papers</a>
                                                    <a class="dropdown-menu__item" href="#">B2B Ecommerce Platform</a>
                                                    <a class="dropdown-menu__item" href="#">Learn about B2B ecommerce</a>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="dropdown-menu__t">Tools</div>
                                                    <a class="dropdown-menu__item" href="#">List of Solution Partners</a>
                                                    <a class="dropdown-menu__item" href="#">Appstore</a>
                                                    <a class="dropdown-menu__item" href="#">Stackoverflow Group</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav__item">
                                    <a href="#" class="nav__link">About Us</a>
                                    <div class="dropdown-menu">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <a class="dropdown-menu__item" href="#">Virto Leadership</a>
                                                    <a class="dropdown-menu__item" href="#">Contact Us</a>
                                                    <a class="dropdown-menu__item" href="#">Careers</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav__item nav__item--try">
                                    <a class="nav__link" href="#">Try virto now</a>
                                </li>
                                <li class="nav__item nav__item--login">
                                    <a class="nav__link" href="#">Login</a>
                                </li>
                            </ul>
                            <a class="header-toggle"></a>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End Header -->

            <!-- Main -->
            <div class="main">
                <div class="page">
                    <div class="section section--cover">
                        <div class="section__bg" style="background-image: url('../../theme/assets/images/redesign/page/b2b-ecommerce-digital-transformation/bg.jpg');">
                            <div class="section__t">You can't afford to postpone <br>your digital transformation</div>
                            <p class="section__descr">Prepare yourself for <br>unlimited business growth</p>
                        </div>
                    </div>
                    <div class="section">
                        <div class="section__inner container">
                            <div class="row section__info">
                                <div class="col-lg-6">
                                    <div class="section__descr">What is Digital Transformation? In the world of digital commerce, there is much discussion about companies undergoing digital transformation. What does it really mean?</div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="section__descr">
                                        Digital transformation refers to leveraging technology as a company to fundamentally change the way you serve your customers and deliver products. Digital transformation involves applying new technology to your existing business to create new processes that drive revenue and business growth.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section section--gray">
                        <div class="section__inner container">
                            <div class="section__info">
                                <div class="section__num">1</div>
                                <div class="row">
                                    <div class="col-auto">
                                        <h2 class="section__t">Change Management</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="section__descr">
                                            At the heart of digital transformation is change management, and each business will have its own unique change management process and challenges. From moving your B2B business online for the first time, changing your distribution methods, to revamping your technology stack – change management relies heavily on your organization and its people to be successful. To undertake digital transformation, you must first define the business processes that need to change, and then you must determine how that will change the organization of your team.
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="section__descr">
                                            The technology department of your business is not able to drive digital transformation on its own. Organizational change requires collaboration across different functions – including finance, marketing, and HR. Digital transformation creates an opportunity for ecommerce and technology to become the key driver of digital capabilities that drive revenue.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="section__inner container">
                            <div class="section__info">
                                <div class="section__num">2</div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h2 class="section__t">Technology Selection</h2>
                                        <div class="section__descr">
                                            The next step in your transformation is to find the right technology, because the solution you choose and its architecture are going to be the core of your ecommerce business. Radical organizational change will take many turns along the way, and to accommodate the volatile nature of digital change, it is essential to rely on technology that is agile, scalable, and flexible. Choosing an out-of-the-box solution may be convenient, but is limiting in the long run. Your implementation will touch all aspects of your enterprise – and drive your customer experience – so don't choose hastily.
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <h2 class="section__t">Partner Selection</h2>
                                        <div class="section__descr">
                                            After technology, digital transformation relies on people, and your organization working together with your partner. Many large ecommerce vendors offer solutions – but will they take the time to work hand and hand with you in the long run? Choosing a smaller partner will guarantee the importance of your project, getting you better service and more experience to guide your journey.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section section--gray">
                        <div class="section__inner container">
                            <div class="section__info">
                                <div class="section__num">3</div>
                                <div class="row">
                                    <div class="col-auto">
                                        <h2 class="section__t">Implementation Planning</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="section__descr">
                                            Finally, implementation strategy is another key consideration. Look for a vendor that offers you a proof of concept, which will help ensure a good fit with the solution and your needs. After the proof of concept, they should have a defined delivery process to minimize expensive delays in deployment.
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="section__descr">
                                            Your success in this rapidly changing environment depends on business agility -- being prepared for anything. By going digital, be ready to overcome obstacles along the way, from competition to consumer expectations to changing technologies. Manage all this without losing sight of internal priorities, timeline, and budget.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="section__inner container">
                            <h2 class="section__t">How can Virto Commerce guide <br>your digital transformation?</h2>
                            <div class="list list--columns row">
                                <div class="list__item col-lg-6">
                                    <img src="../../theme/assets/images/redesign/page/b2b-ecommerce-digital-transformation/implementation-planning.png" alt="" class="list__icon">
                                    <div class="list__t">Implementation Planning</div>
                                    <div class="list__descr">
                                        Experience You Can Leverage. The Virto (COUP) Cross-Organizational Unified Process provides our enterprise customers with a rubric for structuring a robust and cohesive human resources organization built to support an evolving commerce ecosystem. Virto Commerce's leadership team is composed of passionate and seasoned B2B ecommerce experts who built our platform from the ground up. They know our architecture inside and out and how to use it to solve your most complex business and technical issues.
                                    </div>
                                </div>
                                <div class="list__item col-lg-6">
                                    <img src="../../theme/assets/images/redesign/page/b2b-ecommerce-digital-transformation/defined-delivery-process.png" alt="" class="list__icon">
                                    <div class="list__t">Defined Delivery Process</div>
                                    <div class="list__descr">
                                        Virto Commerce has a clear process that we use to get your perfect platform implemented on time and within budget. <a href="#">See the Delivery Process Overview</a> to understand how we structure our implementations.
                                    </div>
                                </div>
                                <div class="list__item col-lg-6">
                                    <img src="../../theme/assets/images/redesign/page/b2b-ecommerce-digital-transformation/worldwide-partner-network.png" alt="" class="list__icon">
                                    <div class="list__t">Worldwide Partner Network</div>
                                    <div class="list__descr">
                                        Virto Commerce has a broad network of partners to assist with your implementation every step along the way. Our partners are based around the globe. <a href="#">Contact us</a> to find the best partner to fit your needs.
                                    </div>
                                </div>
                                <div class="list__item col-lg-6">
                                    <img src="../../theme/assets/images/redesign/page/b2b-ecommerce-digital-transformation/get-to-market-faster.png" alt="" class="list__icon">
                                    <div class="list__t">Get to Market Faster</div>
                                    <div class="list__descr">
                                        The Virto Platform accelerates development timelines with enterprise out of the box commerce tools and a scalable, <a href="#">API-based</a>, microservices architecture, facilitating tremendous opportunities for serious enterprise digital commerce solutions.
                                    </div>
                                </div>
                                <div class="list__item col-lg-6">
                                    <img src="../../theme/assets/images/redesign/page/b2b-ecommerce-digital-transformation/create-customized.png" alt="" class="list__icon">
                                    <div class="list__t">Create a Customized User Experience</div>
                                    <div class="list__descr">
                                        The customer experience is at the center of your digital transformation. Consumers are increasingly savvy and expect consistent journeys across a variety of touch points. Their expectation is a seamless and personalized journey for every need -- from transactions as simple as buying their morning coffee to far more complicated B2B transactions.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section section--gray section--pattern">
                    <div class="section__inner container">
                        <h2 class="section__t">Ready to get started?</h2>
                        <p class="section__descr">Contact us now to learn more about our solutions for enterprise, <br>and to request a free Proof of Concept.</p>
                        <a href="#" class="btn btn--orange btn--round">Contact Us</a>
                    </div>
                </div>
                <div class="section">
                    <div class="section__inner container">
                        <h2 class="section__t">View success stories of enterprises who leverage Virto for their digital commerce solutions</h2>
                        <div class="carousel">
                            <div class="carousel__container"></div>
                            <a href="#" class="carousel__control carousel__control--prev"></a>
                            <a href="#" class="carousel__control carousel__control--next"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Main -->

            <!-- Footer -->
            <footer class="footer">
                <div class="footer__inner container">
                    <div class="footer__general row">
                        <div class="col-lg-4">
                            <div class="footer__logo">
                                Virtocommerce
                            </div>
                            <div class="footer__text">Here we should have a few words about what and who the company is. This should serve well for SEO purposes, so makes sure you create some content for this part too.</div>
                        </div>
                        <div class="col-lg-8 col-xl-7 ml-lg-auto">
                            <div class="row">
                                <div class="footer__nav col-md-auto">
                                    <div class="footer__t">Platform</div>
                                    <ul class="nav nav--vertical">
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Glossary</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">B2B eCommerce Platform</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">ASP.NET Shopping Cart</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Business Features</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Technical Features</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer__nav col-md-auto ml-md-auto">
                                    <div class="footer__t">Developers</div>
                                    <ul class="nav nav--vertical">
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Documentations</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Downloads</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Code repository</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">App store</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Roadmap</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Support</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Provide feedback</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer__nav col-md-auto ml-md-auto">
                                    <div class="footer__t">Contact us</div>
                                    <ul class="nav nav--vertical">
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">hellow@virtocommerce.com</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">+1 800 980-5288</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#" class="nav__link">Live chat</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer__other row align-items-center">
                        <div class="footer__other-text col-md-auto">
                            <div class="footer__copy">Copyright &copy; 2018. All rights reserved.</div>
                            <a href="#" class="footer__link">Privacy Policy</a>
                        </div>
                        <div class="col-md-auto ml-md-auto">
                            <ul class="nav nav--socials">
                                <li class="nav__item">
                                    <a href="#" class="nav__link nav__link--tw">Twitter</a>
                                </li>
                                <li class="nav__item">
                                    <a href="#" class="nav__link nav__link--fb">Facebook</a>
                                </li>
                                <li class="nav__item">
                                    <a href="#" class="nav__link nav__link--in">Linkedin</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->

        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="../build/assets/js/main.js"></script>

    </body>
</html>
