@media (min-width: 992px) {
    .contacts-page .form {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 30rem;
        flex: 0 0 30rem;
        max-width: 30rem;
    }

    .contacts-page .features {
        margin-left: 3rem;
    }
}

@media (max-width: 991.98px) {
    .contacts-page .features {
        margin-top: 2rem;
    }
}

.contacts-page .features__item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.5rem;
}

.contacts-page .features__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 3.75rem;
    flex: 0 0 3.75rem;
    margin-right: 1.25rem;
    max-width: 3.75rem;
    text-align: center;
}

.contacts-page .features__icon {
    display: inline-block;
    vertical-align: top;
}

.contacts-page .features__descr {
    font-size: .875rem;
}

@media (max-width: 767.98px) {
    .contacts-page .features__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 575.98px) {
    .contacts-page .features__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .contacts-page .features__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .contacts-page .features__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .contacts-page .features__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.section--question .question__t {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
    margin-top: 3.125rem;
}

.section--question .question__descr {
    font-size: .875rem;
    margin: auto;
    max-width: 37.5rem;
}
