@import "./theme/assets/css/sass/_variables.scss";

.carousel-indicators
{
    position: static;
    margin-top: 10px;
    border-radius: 10px;
}

@media (max-width: 992px)
{
    .carousel-indicators
    {
        display: none;
    }
}

.carousel-indicators li
{
    background-color: #fd7e14;
}

.section__inner
{
    .section__t
    {
        font-weight: bold;
        line-height: 1.1;
    }
}

.header
{
    .nav__link
    {
        font-size: 16px;
    }

     @include media-breakpoint-down(md) {
        &-toggle
        {
            position: absolute;
            right: 15px;
        }
    }
}

@media (max-width: 991px)
{
    .nav__item--login
    {
        display: none;
    }
}

#signInContent
{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    height: 250px;
    width: 400px;
    margin-left: -315px;
    padding: 15px;
    bottom: 50px;
    top: 100%;
    z-index: 1000;

    & .col-left
    {
        background-color: lightgray;
        border-radius: 5px;
        width: 50%;
        height: 100%;
        padding: 10px;
    }

    & .col-right
    {
        float: right;
        height: 100%;
        padding: 10px;
    }
}

@media (max-width: 450px)
{
    #signInContent
    {
        margin-left: 0;
        left: 0;
        width: 100%;
    }
}

@media (min-width: 992px)
{
    .space-between
    {
        justify-content: space-between;
    }

    .nav__item--login
    {
        margin-left: 7rem;
    }
}

#tryNow
{
    text-transform: uppercase;
    background: $orange;
    border: 1px solid $orange;
    border-radius: .25rem;
    box-sizing: border-box;
    color: $white;
    cursor: pointer;
    display: inline-flex;
    font-size: .875rem;
    height: 2.5rem;
    padding: 0 1.875rem;
    margin-top: 20px;
    margin-bottom: 20px;

    &.btn--orange:hover
    {
        background: lighten($orange, 10%);
        border-color: lighten($orange, 10%);
        color: $white;
    }
}
