.benefits {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 5.625rem;
}

.benefits__item {
    text-align: center;
}

.benefits__icon {
    height: 5.25rem;
    margin-bottom: 2rem;
}

.benefits__t {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.benefits__descr {
    font-size: 1rem;
}

.benefits__link {
    color: #fd7e14;
    display: inline-block;
    margin-top: 1.25rem;
}

.benefits__link:hover {
    color: #fd780a;
}

.benefits__actions {
    display: none;
}

@media (max-width: 767.98px) {
    .benefits__item:nth-child(n+2) {
        display: none;
    }

    .benefits__actions {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 2.5rem;
    }

    .benefits__actions-control {
        background: url(../assets/images/home/icons/slider-arrow.svg) no-repeat;
        cursor: pointer;
        height: 3.125rem;
        margin: 0 .875rem;
        width: 3.125rem;
    }

    .benefits__actions-control--next {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}
