.columns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 -1.25rem;
    padding-top: 1.5rem;
}

.columns.nowrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.columns__item {
    padding: 2.5rem 1.25rem 0;
    text-align: left;
}

.columns__inner {
    -ms-flex-align: start;
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.25rem;
    height: 100%;
}

.columns__inner.has-border {
    border: 1px solid #ced4da;
    border-radius: .625rem;
}

.columns__pic {
    margin-bottom: 1.5rem;
    max-width: 100%;
}

.columns__t {
    font-size: .875rem;
    font-weight: 900;
}

.columns__descr {
    font-size: .75rem;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
}

.columns .columns-2 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.columns .columns-3 {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}

.columns .columns-4 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.columns .columns-5 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.columns .align-left {
    -ms-flex-item-align: start;
    align-self: flex-start;
    text-align: left;
}

.columns .align-center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
}

.columns .align-right {
    -ms-flex-item-align: end;
    align-self: flex-end;
    text-align: right;
}

.columns.align-columns-left {
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.columns.align-columns-center {
    -ms-flex-pack: center;
    justify-content: center;
}

.columns.align-columns-right {
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.columns.align-columns-stretch {
    -ms-flex-pack: stretch;
    justify-content: stretch;
}
