.header {
    background: #fff;
    -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5000;
}

.header-logo {
    background: url(../assets/images/logo.svg) no-repeat;
    font-size: 0;
    height: 2.5rem;
    width: 8.6875rem;
}

.header-nav {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
}

.header-nav .btn {
    text-transform: uppercase;
}

.header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header .nav__item,
  .header .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header .nav__item--active {
    -webkit-box-shadow: 0 -3px 0 0 #fd7e14 inset;
    box-shadow: 0 -3px 0 0 #fd7e14 inset;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.header .nav__item {
    display: none;
}

.header .nav__item--try .nav__link {
    color: #ffc107;
    font-weight: 900;
}

.header .nav__link {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 2.5rem;
    padding: 1.25rem 0;
    font-size: 16px;
}

@media (min-width: 992px) {
    .header .dropdown-menu .container {
        padding-left: 11.25rem;
    }
}

@media (min-width: 1200px) {
    .header .dropdown-menu .container {
        padding-left: 19.075rem;
    }
}

.header-toggle {
    border-bottom: 0.125rem solid #000;
    cursor: pointer;
    display: none;
    height: 1.125rem;
    margin: 0 1.875rem;
    position: relative;
    width: 1.5rem;
}

.header-toggle::after, .header-toggle::before {
    background: #000;
    content: ' ';
    height: .125rem;
    left: 0;
    position: absolute;
    right: 0;
}

.header-toggle::after {
    top: 0;
}

.header-toggle::before {
    top: .5rem;
}

@media (max-width: 1199.98px) {
    .header-logo {
        background-image: url(../assets/images/logo.svg) no-repeat;
        width: 2.5rem;
    }
}

@media (max-width: 991.98px) {
    .header-nav .btn {
        margin-left: 1.25rem;
    }

    .header-toggle {
        position: absolute;
        right: 15px;
        display: block;
        margin: 0 1.25rem 0 1.875rem;
    }

    .header .nav__item--try {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (max-width: 767.98px) {
    .header-toggle {
        margin: 0 .3125rem 0 1.875rem;
    }
}

@media (max-width: 575.98px) {
    .header-nav .btn {
        margin: 0;
    }

    .header-nav .btn:nth-of-type(1) {
        display: none;
    }
}

@media (min-width: 992px) {
    .header-nav .btn,
    .header .nav__item {
        margin-left: 1.25rem;
    }

    .header .nav__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (min-width: 1200px) {
    .header-nav .btn,
    .header .nav__item {
        margin-left: 1.875rem;
    }
}

@media (max-width: 991px) {
    .nav__item--login {
        display: none;
    }
}

#signInContent {
    display: none;
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    height: 250px;
    width: 400px;
    margin-left: -315px;
    padding: 15px;
    bottom: 50px;
    top: 100%;
    z-index: 1000;
}

#signInContent .col-left {
    background-color: lightgray;
    border-radius: 5px;
    width: 50%;
    height: 100%;
    padding: 10px;
}

#signInContent .col-right {
    float: right;
    height: 100%;
    padding: 10px;
}

@media (max-width: 450px) {
    #signInContent {
        margin-left: 0;
        left: 0;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .space-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .nav__item--login {
        margin-left: 7rem;
    }
}
