@charset "UTF-8";

#layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    padding-top: 5rem;
}

.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
}

.overlay,
.dropdown-overlay {
    background: rgba(248, 148, 6, 0.3);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2500;
}

.overlay {
    z-index: 9000;
}

.section {
    padding: 6.25rem 0;
    text-align: center;
}

.section__t {
    max-width: 52.5rem;
}

.section__descr {
    font-size: 1.125rem;
}

.section__pic {
    max-width: 100%;
}

.section__info {
    text-align: left;
}

.section--gray {
    background: #f8f9fa;
}

.section--pattern {
    position: relative;
}

.section--pattern::after, .section--pattern::before {
    content: ' ';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.section--pattern::after {
    background: url(../assets/images/r-pattern.svg) no-repeat;
    height: 18.5rem;
    right: 0;
    width: 12.5rem;
}

.section--pattern::before {
    background: url(../assets/images/l-pattern.svg) no-repeat;
    height: 16.125rem;
    left: 0;
    width: 13.25rem;
}

@media (max-width: 991.98px) {
    .section__t {
        max-width: 37.5rem;
    }

    .section--pattern::after, .section--pattern::before {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .section {
        padding: 2.5rem 0;
    }
}

@media (min-width: 992px) {
    .section__t {
        margin-left: auto;
        margin-right: auto;
    }
}

.section--bg .section__t {
    font-weight: bold;
    line-height: 1.1;
}

.section--bg .section__descr {
    font-size: 1rem;
    line-height: 1.6;
}

.section--bg .section__descr ~ .section__descr {
    margin-top: 3rem;
}

.section--bg .section__pic {
    max-width: 100%;
}

@media (min-width: 992px) {
    .section--bg .section__info {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 39.375rem;
        flex: 0 0 39.375rem;
        max-width: 39.375rem;
        position: relative;
        z-index: 5;
    }
}

.section--empty .section__t {
    font-weight: bold;
    line-height: 1.1;
    margin-top: 2.5rem;
}

.benefits {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 5.625rem;
}

.benefits__item {
    text-align: center;
}

.benefits__icon {
    height: 5.25rem;
    margin-bottom: 2rem;
}

.benefits__t {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.benefits__descr {
    font-size: 1rem;
}

.benefits__link {
    color: #fd7e14;
    display: inline-block;
    margin-top: 1.25rem;
}

.benefits__link:hover {
    color: #fd780a;
}

.benefits__actions {
    display: none;
}

@media (max-width: 767.98px) {
    .benefits__item:nth-child(n+2) {
        display: none;
    }

    .benefits__actions {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 2.5rem;
    }

    .benefits__actions-control {
        background: url(../assets/images/home/icons/slider-arrow.svg) no-repeat;
        cursor: pointer;
        height: 3.125rem;
        margin: 0 .875rem;
        width: 3.125rem;
    }

    .benefits__actions-control--next {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

.section--hp {
    text-align: left;
}

.section--hp .section__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.section--hp .section__descr {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 2.5rem;
}

.section--hp .section__pic {
    max-width: 100%;
}

.section--hp .section__pic--mobile {
    display: none;
}

.section--hp .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.section--hp .form .form-control {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    max-width: 18.75rem;
}

.section--hp .form .btn {
    margin-left: .9375rem;
}

.carousel {
    position: relative;
}

.carousel__container {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: .625rem;
    -webkit-box-shadow: 0 1.25rem 1.25rem 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1.25rem 1.25rem 0 rgba(0, 0, 0, 0.1);
}

.carousel__control {
    background: url(../assets/images/home/icons/slider-arrow.svg) no-repeat;
    cursor: pointer;
    height: 3.125rem;
    width: 3.125rem;
}

.carousel__control--next {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

@media (max-width: 991.98px) {
    .section--hp {
        padding: 2.5rem 0 3.75rem;
        text-align: center;
    }

    .section--hp .section__inner > .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .section--hp .section__info {
        margin-top: 3.125rem;
    }

    .carousel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 2.5rem;
        padding: 0;
    }

    .carousel__container {
        height: 31.25rem;
        margin-bottom: 3.75rem;
        width: 100%;
    }

    .carousel__control {
        margin: 0 .875rem;
    }
}

@media (max-width: 767.98px) {
    .section--hp .section__pic {
        display: none;
    }

    .section--hp .section__pic--mobile {
        display: block;
        width: 100%;
    }

    .section--hp .form {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .section--hp .form .form-control {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: 100%;
    }

    .section--hp .form .btn {
        margin: 1.25rem 0 0;
    }

    .carousel__container {
        height: 24rem;
    }
}

@media (min-width: 992px) {
    .carousel {
        margin-top: 5rem;
        padding: 0 5.625rem;
    }

    .carousel__container {
        height: 37.5rem;
    }

    .carousel__control {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .carousel__control--prev {
        left: 0;
    }

    .carousel__control--next {
        right: 0;
        -webkit-transform: rotateY(180deg) translateY(-50%);
        transform: rotateY(180deg) translateY(-50%);
    }
}

solution {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: .875rem;
}

@media (max-width: 991.98px) {
    solution {
        display: none;
    }
}

.solution__item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 4.75rem;
}

.solution__icon {
    height: 5.25rem;
    margin-bottom: 2rem;
}

.solution__t {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.solution__link {
    color: inherit;
    font-size: .875rem;
}

.solution__link ~ .solution__link {
    margin-top: 1rem;
}

.capabilities {
    padding-top: .875rem;
}

.capabilities__item {
    margin-top: 4.75rem;
    text-align: left;
}

.capabilities__icon {
    height: 3.125rem;
    margin-bottom: 1rem;
}

.capabilities__t {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.capabilities__list-item {
    font-size: .875rem;
    line-height: 1.7;
}

.capabilities__actions {
    display: none;
}

@media (max-width: 767.98px) {
    .capabilities__item:nth-child(n+4) {
        display: none;
    }

    .capabilities__actions {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 2.5rem;
    }

    .capabilities__actions-control {
        background: url(../assets/images/home/icons/slider-arrow.svg) no-repeat;
        cursor: pointer;
        height: 3.125rem;
        margin: 0 .875rem;
        width: 3.125rem;
    }

    .capabilities__actions-control--next {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@media (max-width: 575.98px) {
    .capabilities__item:nth-child(n+3) {
        display: none;
    }
}

.features-page .section__img .section__pic {
    max-width: 75%;
}

.features-page .section__descr ~ * {
    margin-top: 1.875rem;
}

.features-page ul {
    list-style: none;
}

.features-page li {
    font-size: 1.125rem;
    line-height: 1.5;
}

.features-page li::before {
    content: '– ';
}

.features-page p {
    font-size: 1.125rem;
    line-height: 1.5;
}

@media (min-width: 992px) {
    .features-page .section__info {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.25rem;
        flex: 0 0 41.25rem;
        max-width: 41.25rem;
    }
}

.section--features .section__descr {
    font-size: 1rem;
    line-height: 1.6;
}

.section--features .section__descr ~ .section__descr {
    margin-top: 3rem;
}

.section--features .section__pic {
    max-width: 100%;
}

@media (min-width: 992px) {
    .section--features .section__info {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 39.375rem;
        flex: 0 0 39.375rem;
        max-width: 39.375rem;
        position: relative;
        z-index: 5;
    }
}

@media (min-width: 992px) {
    .contacts-page .form {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 30rem;
        flex: 0 0 30rem;
        max-width: 30rem;
    }

    .contacts-page .features {
        margin-left: 3rem;
    }
}

@media (max-width: 991.98px) {
    .contacts-page .features {
        margin-top: 2rem;
    }
}

.contacts-page .features__item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.5rem;
}

.contacts-page .features__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 3.75rem;
    flex: 0 0 3.75rem;
    margin-right: 1.25rem;
    max-width: 3.75rem;
    text-align: center;
}

.contacts-page .features__icon {
    display: inline-block;
    vertical-align: top;
}

.contacts-page .features__descr {
    font-size: .875rem;
}

@media (max-width: 767.98px) {
    .contacts-page .features__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 575.98px) {
    .contacts-page .features__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .contacts-page .features__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .contacts-page .features__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .contacts-page .features__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.section--question .question__t {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
    margin-top: 3.125rem;
}

.section--question .question__descr {
    font-size: .875rem;
    margin: auto;
    max-width: 37.5rem;
}

.docs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.docs__inner {
    height: inherit;
}

.docs__header {
    background: #f8f9fa;
}

.docs__header-search {
    background: #e9ecef;
}

.docs__inner, .docs__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.docs__body {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.docs__header-search, .docs__sidebar {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    padding: 1.25rem 1.875rem;
    max-width: 100%;
}

.docs__header-nav, .docs__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
}

.docs .nav__item {
    display: block;
    height: auto;
}

.docs .nav__item ~ .nav__item {
    margin-top: 1.25rem;
}

.docs .nav__item--active > .nav__link {
    color: #007bff;
}

.docs .nav__item--active > .nav__link .nav__icon {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.docs .nav__item--active > .nav__link .path {
    fill: #007bff;
}

.docs .nav__link {
    border: none;
    font-size: .875rem;
}

.docs .nav__link:hover {
    color: #007bff;
}

.docs .nav__link:hover .path {
    fill: #007bff;
}

.docs .nav__icon {
    height: .8125rem;
    margin-right: .625rem;
    width: .4375rem;
}

.docs .path {
    fill: #000;
}

.docs .nav--sub {
    padding: 0;
    margin-left: 1.25rem;
    margin-top: 1.25rem;
}

.docs__header-nav {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1.875rem;
}

.docs__header-nav .nav__item {
    display: inline-block;
    margin-right: .9375rem;
    position: relative;
}

.docs__header-nav .nav__item ~ .nav__item {
    margin-top: 0;
}

.docs__header-nav .nav__item::before {
    background: url("../i/page/documentation/chevron.svg") no-repeat;
    content: ' ';
    display: inline-block;
    height: .8125rem;
    margin-right: .9375rem;
    vertical-align: -1px;
    width: .4375rem;
}

.docs__header-nav .nav__item:first-child::before {
    display: none;
}

.docs__header-nav .nav__link {
    color: #007bff;
}

.docs__header-nav .nav__link:hover {
    color: #fd7e14;
}

.docs__sidebar {
    background: #f8f9fa;
}

.docs__content {
    padding: 1.875rem;
}

.docs__content h2 {
    margin-bottom: .5rem;
}

.docs__content h3 {
    margin: 1.875rem 0;
}

.docs__content p {
    font-size: .875rem;
    line-height: 1.6;
    margin: 1rem 0;
}

.docs__content p:nth-of-type(1) {
    margin-top: 2rem;
}

.docs__content a[href] {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #007bff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .875rem;
}

.docs__content a[href] [class*="-ico"] {
    height: 1.5rem;
    margin-right: .625rem;
    width: 1.5rem;
}

.docs__content a[href] .path {
    fill: #007bff;
}

.docs__content a[href]:hover {
    color: #fd7e14;
}

.docs__content a[href]:hover .path {
    fill: #fd7e14;
}

@media (max-width: 991.98px) {
    .docs__header {
        padding: 1.25rem;
    }

    .docs__header-search, .docs__sidebar {
        display: none;
    }

    .docs__header-nav .nav__item:not(:last-child) {
        display: none;
    }
}

@media (min-width: 992px) {
    .docs__header-search, .docs__sidebar {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 23.75rem;
        flex: 0 0 23.75rem;
        max-width: 23.75rem;
    }
}

.studies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 -1.25rem;
    padding-top: 1.5rem;
}

.studies__item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 2.5rem 1.25rem 0;
    text-align: left;
}

@media (max-width: 991.98px) {
    .studies__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 575.98px) {
    .studies {
        margin: 0;
    }

    .studies__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 1.25rem 0 0;
    }
}

.studies__inner {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    border: 1px solid #ced4da;
    border-radius: .625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.25rem;
    height: 100%;
}

.studies__pic {
    margin-bottom: 1.5rem;
    max-width: 100%;
}

.studies__t {
    font-size: .875rem;
    font-weight: 900;
    text-transform: uppercase;
}

.studies__cat {
    color: #adb5bd;
    margin-top: .5rem;
}

.studies__cat, .studies__descr {
    font-size: .75rem;
}

.studies__descr {
    margin: 1rem 0;
}

.studies .btn {
    margin-top: auto;
}

.section--study {
    padding: 0;
}

.section--study .section__bg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-attachment: fixed;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 25rem;
    overflow: hidden;
    position: relative;
}

.section--study .section__bg::after {
    background: rgba(12, 16, 21, 0.8);
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

.section--study .section__t {
    font-size: 3.75rem;
    font-weight: 900;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.section--study .section__descr {
    font-size: 1.625rem;
    font-weight: bold;
    max-width: 37.5rem;
}

.section--study .section__t,
  .section--study .section__descr {
    color: #fff;
    position: relative;
    text-shadow: 0 0.1875rem 0 #000;
    z-index: 10;
}

.section--study .section__sidebar .section__inner {
    background: #f8f9fa;
    border-radius: 0.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.875rem;
}

@media (max-width: 991.98px) {
    .section--study .section__sidebar .section__inner .section__pic {
        margin-right: 1.875rem;
    }
}

@media (max-width: 767.98px) {
    .section--study .section__sidebar .section__inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .section--study .section__sidebar .section__inner .section__pic {
        margin: 0 auto 1.875rem;
    }
}

@media (max-width: 575.98px) {
    .section--study .section__sidebar .section__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .section--study .section__sidebar .section__inner .section__pic {
        margin-bottom: 1.875rem;
    }
}

@media (min-width: 992px) {
    .section--study .section__sidebar .section__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .section--study .section__sidebar .section__inner .section__pic {
        margin-bottom: 1.875rem;
    }
}

.section--study .section__content,
  .section--study .section__sidebar {
    margin-bottom: 3.125rem;
    margin-top: 3.125rem;
    text-align: left;
}

.section--study .section__content > *:first-child {
    margin-top: 0;
}

.section--study h3 {
    margin: 1.875rem 0;
}

.section--study blockquote {
    margin: 1.875rem 0;
}

.section--study p {
    font-size: .875rem;
    line-height: 1.7;
    margin: 1.25rem 0;
}

@media (max-width: 991.98px) {
    .section--study .section__bg {
        height: 30rem;
        padding: 0 1.875rem;
    }

    .section--study .section__t {
        font-size: 3rem;
    }

    .section--study .section__descr {
        font-size: 1.375rem;
    }

    .section--study .section__content,
    .section--study .section__sidebar {
        margin-bottom: 0;
        margin-top: 1.875rem;
    }

    .section--study .section__sidebar {
        margin-bottom: 1.875rem;
    }
}

@media (max-width: 575.98px) {
    .section--study .section__bg {
        height: 23rem;
        padding: 0 1.25rem;
    }

    .section--study .section__t {
        font-size: 2.125rem;
    }

    .section--study .section__descr {
        font-size: 1.125rem;
        max-width: 20rem;
    }

    .section--study .section__content,
    .section--study .section__sidebar {
        margin-bottom: 0;
        margin-top: 1.25rem;
    }

    .section--study .section__sidebar {
        margin-bottom: 1.25rem;
    }
}

@media (min-width: 992px) {
    .section--study .section__content {
        margin-right: 4rem;
    }

    .section--study .section__sidebar {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 19.375rem;
        flex: 0 0 19.375rem;
        max-width: 19.375rem;
    }
}
