.swipe {
    background: #fff;
    bottom: 0;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    width: 18rem;
    z-index: 9500;
}

@media (max-width: 991.98px) {
    .swipe {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .swipe.opened {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .swipe .btn {
        text-transform: uppercase;
    }

    .swipe__header {
        border-bottom: 1px solid #e9ecef;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 5rem;
        padding: 1.25rem;
        position: relative;
    }

    .swipe__back {
        background: url(../i/icons/arrow-back.svg) no-repeat;
        cursor: pointer;
        height: .75rem;
        width: 1.125rem;
    }

    .swipe__close {
        background: url(../i/icons/close.svg) no-repeat;
        cursor: pointer;
        height: 1.1875rem;
        position: absolute;
        right: 1.25rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 1.1875rem;
    }

    .swipe__nav-item {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: none;
        height: 2.5rem;
    }

    .swipe__nav-item--show {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .swipe__nav-link {
        color: inherit;
        font-size: .875rem;
    }

    .swipe__body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: colmun;
        flex-direction: colmun;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
        flex: 1 0 0;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .swipe .nav {
        padding: 0 1.25rem;
        position: relative;
        width: 100%;
    }

    .swipe .nav__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 3.125rem;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
    }

    .swipe .nav__item--animated, .swipe .nav__item--active {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    .swipe .nav__link, .swipe .nav__t {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid #e9ecef;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: .875rem;
        width: 100%;
    }

    .swipe .nav__link {
        cursor: pointer;
    }

    .swipe .nav__t {
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .swipe .nav__input {
        left: -100rem;
        position: absolute;
        visibility: hidden;
    }

    .swipe .nav__label {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid #e9ecef;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 3.125rem;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
    }

    .swipe .nav__carret {
        background: url(../i/icons/angle-arrow.svg) no-repeat;
        cursor: pointer;
        height: .625rem;
        width: .375rem;
    }

    .swipe .nav__content {
        background: #fff;
        bottom: 0;
        left: 0;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        z-index: 5;
    }

    .swipe .nav__content--opened {
        max-height: 100rem;
        overflow: visible;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .swipe .nav__input:nth-of-type(1):checked ~ .nav__content:nth-of-type(1) {
        max-height: 100rem;
        overflow: visible;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .swipe .nav__input:nth-of-type(2):checked ~ .nav__content:nth-of-type(2) {
        max-height: 100rem;
        overflow: visible;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .swipe .nav__input:nth-of-type(3):checked ~ .nav__content:nth-of-type(3) {
        max-height: 100rem;
        overflow: visible;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .swipe .nav__input:nth-of-type(4):checked ~ .nav__content:nth-of-type(4) {
        max-height: 100rem;
        overflow: visible;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .swipe .nav__input:nth-of-type(5):checked ~ .nav__content:nth-of-type(5) {
        max-height: 100rem;
        overflow: visible;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .swipe .nav__input:nth-of-type(6):checked ~ .nav__content:nth-of-type(6) {
        max-height: 100rem;
        overflow: visible;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .swipe__footer {
        padding: 1.25rem;
    }
}

@media (max-width: 575.98px) {
    .swipe {
        width: 100%;
    }
}
