.studies {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 -1.25rem;
    padding-top: 1.5rem;
}

.studies__item {
    box-sizing: border-box;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 2.5rem 1.25rem 0;
    text-align: left;
}

@media (max-width: 991.98px) {
    .studies__item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 575.98px) {
    .studies {
        margin: 0;
    }

    .studies__item {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 1.25rem 0 0;
    }
}

.studies__inner {
    -ms-flex-align: start;
    align-items: flex-start;
    border: 1px solid #ced4da;
    border-radius: .625rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.25rem;
    height: 100%;
}

.studies__pic {
    margin-bottom: 1.5rem;
    max-width: 100%;
}

.studies__t {
    font-size: .875rem;
    font-weight: 900;
    text-transform: uppercase;
}

.studies__cat {
    color: #adb5bd;
    margin-top: .5rem;
}

.studies__cat, .studies__descr {
    font-size: .75rem;
}

.studies__descr {
    margin: 1rem 0;
}

.studies .btn {
    margin-top: auto;
}
