@import "./theme/assets/css/sass/_variables.scss";

.capabilities
{
    padding-top: .875rem;

    &__item
    {
        margin-top: 4.75rem;
        text-align: left;
    }

    &__icon
    {
        height: 3.125rem;
        margin-bottom: 1rem;
    }

    &__t
    {
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: 1rem;
    }

    &__list
    {
        &-item
        {
            font-size: .875rem;
            line-height: 1.7;
        }
    }
}

