// Solution
@import "solution";

@import "capabilities";
.features-page
{
    .section__img
    {
        .section__pic
        {
            max-width: 75%;
        }
    }

    .section__descr ~ *
    {
        margin-top: 1.875rem;
    }

    ul
    {
        list-style: none;
    }

    li
    {
        font-size: 1.125rem;
        line-height: 1.5;
        padding-bottom: 15px;

        &::before
        {
            content: '– ';
        }
    }

    p
    {
        font-size: 1.250rem;
        line-height: 1.5;
    }

    @include media-breakpoint-up(lg) {
        .section__info
        {
            flex: 0 0 41.25rem;
            max-width: 41.25rem;
        }
    }
}
.section--features
{
    .section__descr
    {
        font-size: 1rem;
        line-height: 1.6;

        & ~ .section__descr
        {
            margin-top: 3rem;
        }
    }

    .section__pic
    {
        max-width: 100%;
    }

    @include media-breakpoint-up(lg) {
        .section__info
        {
            flex: 0 0 39.375rem;
            max-width: 39.375rem;
            position: relative;
            z-index: 5;
        }
    }
}
