.section {
    padding: 6.25rem 0;
    text-align: center;
}

.section__t {
    max-width: 52.5rem;
}

.section__descr {
    font-size: 1.125rem;
    margin-bottom: 1.875rem;
}

.section__descr--gray {
    color: #adb5bd;
}

.section__descr--small {
    font-size: 1rem;
}

.section__descr--medium {
    font-size: 1.25rem;
}

.section__pic {
    max-width: 100%;
}

.section__info {
    text-align: left;
}

.section--gray {
    background: #f8f9fa;
}

.section--no-padding {
    padding: 0;
}

.section--pattern {
    position: relative;
}

.section--pattern::after, .section--pattern::before {
    content: ' ';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.section--pattern::after {
    background: url(../assets/images/r-pattern.svg) no-repeat;
    height: 18.5rem;
    right: 0;
    width: 12.5rem;
}

.section--pattern::before {
    background: url(../assets/images/l-pattern.svg) no-repeat;
    height: 16.125rem;
    left: 0;
    width: 13.25rem;
}

.section .section__sidebar .section__inner {
    background: #f8f9fa;
    border-radius: 0.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.875rem;
}

@media (max-width: 991.98px) {
    .section .section__sidebar .section__inner .section__pic {
        margin-right: 1.875rem;
    }
}

@media (max-width: 767.98px) {
    .section .section__sidebar .section__inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .section .section__sidebar .section__inner .section__pic {
        margin: 0 auto 1.875rem;
    }
}

@media (max-width: 575.98px) {
    .section .section__sidebar .section__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .section .section__sidebar .section__inner .section__pic {
        margin-bottom: 1.875rem;
    }
}

@media (min-width: 992px) {
    .section .section__sidebar .section__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .section .section__sidebar .section__inner .section__pic {
        margin-bottom: 1.875rem;
    }
}

.section .section__content,
  .section .section__sidebar {
    margin-bottom: 3.125rem;
    margin-top: 3.125rem;
    text-align: left;
}

.section .section__content > *:first-child {
    margin-top: 0;
}

.section .section__content h3 {
    margin: 1.875rem 0;
}

.section .section__content blockquote {
    margin: 1.875rem 0;
}

.section .section__content p {
    font-size: .875rem;
    line-height: 1.7;
    margin: 1.25rem 0;
}

@media (max-width: 991.98px) {
    .section .section__bg {
        height: 30rem;
        padding: 0 1.875rem;
    }

    .section__t {
        max-width: 37.5rem;
    }

    .section--pattern::after, .section--pattern::before {
        display: none;
    }

    .section .section__content,
    .section .section__sidebar {
        margin-bottom: 0;
        margin-top: 1.875rem;
    }

    .section .section__sidebar {
        margin-bottom: 1.875rem;
    }
}

@media (max-width: 767.98px) {
    .section {
        padding: 2.5rem 0;
    }
}

@media (max-width: 575.98px) {
    .section .section__bg {
        height: 23rem;
        padding: 0 1.25rem;
    }

    .section .section__content,
    .section .section__sidebar {
        margin-bottom: 0;
        margin-top: 1.25rem;
    }

    .section .section__sidebar {
        margin-bottom: 1.25rem;
    }
}

@media (min-width: 992px) {
    .section__t {
        margin-left: auto;
        margin-right: auto;
    }

    .section .section__content {
        margin-right: 4rem;
    }

    .section .section__sidebar {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 19.375rem;
        flex: 0 0 19.375rem;
        max-width: 19.375rem;
    }
}

.page .section__pic,
[class*='-page'] .section__pic {
    max-width: 75%;
}

.page .section__descr ~ *,
[class*='-page'] .section__descr ~ * {
    margin-bottom: 1.875rem;
    margin-top: 1.875rem;
}

.page ul,
.page ol,
[class*='-page'] ul,
[class*='-page'] ol {
    list-style: none;
    position: relative;
}

.page ul li,
  .page ol li,
  [class*='-page'] ul li,
  [class*='-page'] ol li {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1.75rem;
    flex: 0 0 1.75rem;
    font-size: 1rem;
    line-height: 1.5;
    min-height: 1.75rem;
    padding-left: 2.5rem;
    position: relative;
}

.page ul li::before,
    .page ol li::before,
    [class*='-page'] ul li::before,
    [class*='-page'] ol li::before {
    background: url("../assets/images/icons/icon-list.svg") no-repeat scroll 0 0;
    content: ' ';
    height: 1.75rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 1.75rem;
}

.page ul li ~ li,
    .page ol li ~ li,
    [class*='-page'] ul li ~ li,
    [class*='-page'] ol li ~ li {
    margin-top: .625rem;
}

.page ol,
[class*='-page'] ol {
    counter-reset: num;
}

.page ol li::before,
  [class*='-page'] ol li::before {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fd7e14;
    border-radius: 1.75rem;
    content: counter(num);
    counter-increment: num;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (min-width: 992px) {
    .page .row .section__info,
  [class*='-page'] .row .section__info {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.25rem;
        flex: 0 0 41.25rem;
        max-width: 41.25rem;
    }
}

.section--bg .section__t {
    font-weight: bold;
    line-height: 1.1;
}

.section--bg .section__descr {
    font-size: 1rem;
    line-height: 1.6;
}

.section--bg .section__descr ~ .section__descr {
    margin-top: 3rem;
}

.section--bg .section__pic {
    max-width: 100%;
}

@media (min-width: 992px) {
    .section--bg .section__info {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 39.375rem;
        flex: 0 0 39.375rem;
        max-width: 39.375rem;
        position: relative;
        z-index: 5;
    }
}

.section--cover {
    padding: 0;
}

.section--cover .section__bg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 25rem;
    overflow: hidden;
    position: relative;
}

.section--cover .section__bg::after {
    background: rgba(12, 16, 21, 0.8);
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

.section--cover .section__t {
    font-size: 3.75rem;
    font-weight: 900;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.section--cover .section__descr {
    font-size: 1.625rem;
    font-weight: bold;
    max-width: 37.5rem;
}

.section--cover .section__t,
  .section--cover .section__descr {
    color: #fff;
    position: relative;
    text-shadow: 0 0.1875rem 0 #000;
    z-index: 10;
}

@media (max-width: 991.98px) {
    .section--cover .section__bg {
        height: 30rem;
        padding: 0 1.875rem;
    }

    .section--cover .section__t {
        font-size: 3rem;
    }

    .section--cover .section__descr {
        font-size: 1.375rem;
    }
}

@media (max-width: 575.98px) {
    .section--cover .section__bg {
        height: 23rem;
        padding: 0 1.25rem;
    }

    .section--cover .section__t {
        font-size: 2.125rem;
    }

    .section--cover .section__descr {
        font-size: 1.125rem;
        max-width: 20rem;
    }
}

.section--empty .section__t {
    font-weight: bold;
    line-height: 1.1;
    margin-top: 2.5rem;
}
